<div class="container">
  <div class="main-menu">
    <div class="left-main-menu">
      <div class="row">
        <div class="col-md-3">
          <a class="logo" href="#"
            ><img src="assets/media/logo.png" alt="Logo"
          /></a>
        </div>
        <div class="col-md-6">
          <ul class="nav-pc">
            <li><a href="search_job">Tìm việc</a></li>
            <li><a href="#">Công việc</a></li>
            <li><a href="thongtin.html">Về WorkZone</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="right-main-menu">
      <div class="account">
        <i class="fa-regular fa-circle-user"></i><span>WorkZone</span>
        <a (click)="menupc()" href="#">
          <i class="fa-solid fa-sort-down"></i>
        </a>

      </div>
      <a href="#" class="btn btn-primary btn-lg active ntd" role="button" aria-pressed="true">NHÀ TUYỂN DỤNG</a>
    </div>
  </div>
</div>


<div>
  <ul class="list-menu-pc " [ngClass]="{'is-display-none': isDisplaynone}" id="list-menu-pc">
    <li>
      <div class="menu-list-row" >
        <a href="hosoxinviec.html">
          <i class="fa-regular fa-file"></i>
        <span> Hồ sơ xin việc</span>
        </a>
      </div>
    </li>
    <li>
      <div class="menu-list-row">
        <a href="vieclamdaluu.html">
          <i class="fa-solid fa-heart"></i>
          <span> Việc làm đã lưu</span>
        </a>
      </div>
    </li>
    <li>
      <div class="menu-list-row">
        <a href="viecdaungtuyen.html">
          <i class="fa-solid fa-paper-plane"></i>
          <span>Việc làm đã ứng tuyển</span>
        </a>
      </div>
    </li>
    <li>
      <div class="menu-list-row"> <a href="thongbaovieclam.html">
        <i class="fa-regular fa-bell"></i>
        <span>Thông báo việc làm</span>
      </a></div>
    </li>
    <div class="border"></div>
    <li>
      <div class="menu-list-row name-account">
        <a href="trangchu_nguoitimviec_login.html">
          <i class="fa-regular fa-circle-user"></i>
        </a> <span>WorkZone</span>
      </div>
    </li>
    <li>
      <div class=" log-out "> <a (click)="logout()" href="">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span >Đăng xuất</span></a>
      </div>
    </li>
  </ul>


<!-- mobile -->

  <div id="nav-mb">
    <button (click)="menu()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</div>
<ul id="list-menu-mb-login" [ngClass]="{'is-left-default': isLeftDefault}" class="list-menu-mb-login">
  <li> <div class="menu-list-row" >
        <a href="hosoxinviec.html">
         <i class="fa-regular fa-file"></i>
        <span> Hồ sơ xin việc </span>
        </a>
      </div></li>
      <li> <div class="menu-list-row" >
       <a href="viecdaluu.html">
        <i class="fa-solid fa-heart"></i>
       <span> Việc làm đã lưu </span>
       </a>
     </div></li>
  <li><div class="menu-list-row">
        <a href="viecdaungtuyen.html">
       <i class="fa-solid fa-paper-plane"></i>
          <span> Việc làm đã ứng tuyển</span>
        </a>
      </div></li>
      <li><div class="menu-list-row">
       <a href="viecdaungtuyen.html">
      <i class="fa-solid fa-id-card"></i>
         <span> Thông báo việc làm</span>
       </a>
     </div></li>
  <div class="border"></div>
    <li>
      <div class=" name-account">
        <a href="trangchu_nguoitimviec.html">
          <i class="fa-solid fa-buildings"></i>
          <span>WorkZone</span>
        </a>
      </div>
    </li>



   <div class="menu-list-row ">
     <ul class="non-nav-pc">
       <li><a href="timkiemvieclam.html">Tìm việc</a></li>
       <li><a href="trangchu_nguoitimviec_login">Công việc</a></li>
       <li><a href="thongtin.html">Về WorkZone</a></li>
     </ul>
   </div>


   <div class="account" >
      <i class="fa-solid fa-buildings"></i>
        <span>WorkZone Cop</span>
     <a (click)="menupc()" href=""><i class="fa-solid fa-sort-down"></i></a>
    </div>
    <a href="#" class="btn-nav ntd " role="button" aria-pressed="true">
      NHÀ TUYỂN DỤNG</a>
    <li>
      <div class=" log-out "><a href="">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span>Đăng xuất</span>
      </a></div>
    </li>
</ul>
