<div class="main">
  <div class="row">
  <div class="col-md-4 col-12">
    <div class="taikhoan" id="taikhoan">
      <button class="method" (click)="profile()">
        <h5>Tài khoản</h5>
        <span>Tùy chỉnh thông tin cá nhân</span>
      </button>
    </div>
    <div class="taikhoan matkhau" id="matkhau">
      <button class="method " >
        <h5>Đổi mật khẩu</h5>
        <span>Đổi mật khẩu đăng nhập</span>
      </button>
    </div>
   </div>




  <div class="col-md-8 col-12">


    <form (ngSubmit)="changePassword()">
      <div class="header-change-pass">
        <h1>Thay đổi mật khẩu</h1>
      </div>


      <div class="row-pass">
        <div class="name-pass">
        <label>Mật khẩu hiện tại</label><span class="red">&nbsp;*</span>
        </div>
        <input class="input form-control" type="{{passwordType}}" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" required name="password" minlength="5" >


      </div>


      <div class="row-pass">
        <div class="name-pass">
         <label>Mật khẩu mới</label>  <span class="red">&nbsp;*</span>
        </div>
        <input type="{{passwordType}}" class="input form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required [(ngModel)]="newPassword" name="newPassword"
       >


      </div>




      <div class="row-pass">
        <div class="name-pass">
         <label>Nhập lại mật khẩu mới</label>  <span class="red">&nbsp;*</span>
        </div>
        <input type="{{passwordType}}" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required class="input form-control" #retypepassword="ngModel">


      </div>


      <div class="row-pass relative">
        <input type="checkbox" class="check" (click)="togglePassword()"/>&nbsp;&nbsp;Hiển thị mật khẩu
      </div>
      <div *ngIf="errMessage" class="alert alert-danger" style="width: 50%;">
        {{errMessage}}
        <ul *ngIf="existingUserErrors">
          <li *ngFor="let error of existingUserErrors">{{error}}</li>
        </ul>


      </div>
      <button type="submit" class="btn-mk" >Cập nhật mật khẩu</button>
    </form>


  </div>
  </div>
  </div>
