<div class="main">
<div class="row">
<div class="col-md-4 col-12">
  <div class="taikhoan" id="taikhoan">
    <button class="method" routerLink="/profile">
      <h5>Tài khoản</h5>
      <span>Tùy chỉnh thông tin cá nhân</span>
    </button>
  </div>
  <div class="taikhoan matkhau" id="matkhau">
    <button class="method " routerLink="/thaydoimatkhau">
      <h5>Đổi mật khẩu</h5>
      <span>Đổi mật khẩu đăng nhập</span>
    </button>
  </div>
 </div>
<div class="col-md-8 col-12">
<form class="form-change-pass is-display-none" id="form-change-pass">
  <div class="header-change-pass">
    <h1>Thay đổi mật khẩu</h1>
  </div>
  <div class="row-pass">
    <div class="name-pass">
    <label>Mật khẩu hiện tại</label><span class="red">&nbsp;*</span>
    </div>
    <input type="password" class="input form-control" name="password" id="password" required minlength="5"
    [(ngModel)]="model.Password" name="password"
    #password="ngModel"/>
    <div class="text" [hidden]="!password.hasError('minlength')">Password must contain at least 5 characters</div>
    <div class="text" [hidden]="password.valid || password.pristine">
      Password is required
   </div>
  </div>
  <div class="row-pass">
    <div class="name-pass">
     <label>Mật khẩu mới</label>  <span class="red">&nbsp;*</span>
    </div>
    <input type="password" class="input form-control" name="newPassword" id="newPassword" required minlength="5"
    [(ngModel)]="newPass" name="newpassword"
    #newpassword="ngModel"/>
    <div class="text" [hidden]="!newpassword.hasError('minlength')">Password must contain at least 5 characters</div>
    <div class="text" [hidden]="newpassword.valid || newpassword.pristine">
      Password is required
   </div>
  </div>
  <div class="row-pass">
    <div class="name-pass">
     <label>Nhập lại mật khẩu mới</label>  <span class="red">&nbsp;*</span>
    </div>
    <input type="password" class="input form-control" name="retypepassword" id="retypepassword" required [(ngModel)]="retypePass"
    #retypepassword="ngModel"/>
    <div class="text" [hidden]="retypepassword.valid || retypepassword.pristine">
      Password is required
   </div>
  </div>
  <div class="row-pass relative">
    <input type="checkbox" class="check" />&nbsp;&nbsp;Hiển thị mật khẩu
  </div>
  <button class="btn-mk" type="submit" (click)="changePassword()">Cập nhật mật khẩu</button>
</form>
</div>
</div>
</div>

