html,
body {
  padding: 0;
  margin: 0;
}
/*Responsive*/
@media (max-width: 830px) {
.box-menu-pc, .under-link{
  display: none !important;
}
.body_right{
  margin-left: 0px;
}
.box-menu-mb{
  display: block !important;
  margin-top: -55px;
  padding-bottom: 20px ;
  text-align: center;
  height: 100%;
}
}
a {
  text-decoration: none;
  color: black;
}
ul li{
  list-style: none;
  }
 /* menu-account */
 .emp-menu {
  height: 50px;
  align-items: center;
  background-color: #deefff;
  border-top: 2px solid #48c0fd;
}
.box-menu-pc {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.box-menu-pc{
  margin-top: 10px;
  height: 80%;
}
.under-link {
  border-bottom: 3px solid #00A9FF;
}
.box-menu-mb{
  display: none;
}
  /* body */
  #body{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  #body_left{
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
  }
  #content_body_left{
  justify-content: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  }
  #file_created{
    background: #00A9FF;
    border-radius: 15px 15px 0px 0px;
    font-weight: bolder;
    font-size: larger;
  }
  #content_body_left p{
    margin-left: 5%;
    color: black;
    padding-top: 20px;
  }
  #you_create_file, #xapsep, #file_created{
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.31);
    min-height: 40px;
    height: auto;
  }
  #xapsep input{
    margin-left: 5%;
  }
  table, td, th {
    text-align: center;
  }
  th{
    background: #D9D9D9;
  }
   table{
    width: 100%;
    border-radius: 15px;
  }
  #chitiet{
    border-radius: 25px;
    border: 1px solid greenyellow;
    background-color: greenyellow;
    font-size: 13px;
    width:80%;
    margin: 10px;
  }
  .picture_company{
    width: 15%;;
  }
  #content_body_left td{
    height: 70px;
  }
  #content_body_left tr{
    background-color:
    rgba(72, 192, 253, 0.06);
    border-top: 0.5px solid rgba(0, 0, 0, 0.31);
  }
  .body_right{

    width: 310px;
    border-radius: 15px;
    border: 1px solid black;
    margin-left: 20px;
    height: 200px;
    margin-top: 20px;
  }
  .body_right .fa-circle-user{
    font-size: 60px;
    margin-top: 20px;
    margin-left: 8%;
    float: left;
  }
  .text_cbtl{
    margin-top: 20px;
    margin-left: 100px;
  }
  .text_status {
    margin-left: 8%;
    margin-top: 30px;
    font-weight: bolder;
    line-height: 35px;
  }
  .st-on-off {
    width: 46px;
    height: 20px;
    float: left;
    margin-top: 10px;
    border-radius: 100px;
    border: 1px solid;
  }
  .st-on-off-on {
    background-color: greenyellow;
  }
  .st-on-off-off {
    background-color: red;
  }
  .on-off {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 100px;
    border: 1px solid;
    margin-top: -1px;
    cursor: pointer;
  }
  .on-off-on {
    margin-left: 26px;
  }
  .on-off-off {
    margin-left: -1px;
  }
  .text_text{
    padding-left: 15px;
  }
  .disabled{
    margin-top: 20px;
    margin-left: 48%;
    margin-bottom: 20px;
  }
  @media (min-width: 1200px)
  {
    .container{
      max-width: 100%;
    }
  }
