<body>
  <!-- main -->
 <!-- menu-account -->
 <div class="container">
   <div class="row">
     <div class="col-md-12 col-12">
       <ul class="emp-menu">
         <div class="box-menu-pc">
           <li><a href="taohoso.html">Tài khoản</a></li>
           <li><a href="hosoxinviec.html">Hồ sơ xin việc (3)</a></li>
           <li><a href="vieclamdaluu.html">Việc đã lưu (5)</a></li>
           <li class="under-link"><a href="viecdaungtuyen.html"><b> Việc đã ứng tuyển (7)</b></a></li>
           <li><a href="thongbaovieclam.html">Thông báo việc làm (0)</a></li>
         </div>
       </ul>
       <div class="box-menu-mb"><a href="viecdaungtuyen.html"><b> Việc đã ứng tuyển (7)</b></a></div>
     </div>
   </div>
 <!-- body -->
 <div id="body">
      <div class="body_right ">
     <div><i class="fa-regular fa-circle-user"></i></div>
     <div class="text_cbtl">Chào bạn trở lại <br>
     <b>TÊN NGƯỜI DÙNG</b></div>
     <div *ngIf="statusOn; else statusOffBlock">
      <div class="st-on-off-on"><button class="on-off-on"></button></div>
      <div class="text_status-on" id="text_status-on">Trạng thái làm việc đang bật</div>
  </div>
  <ng-template #statusOffBlock>
      <div class="st-on-off-off"><button class="on-off-off"></button></div>
      <div class="text_status-off" id="text_status-off">Trạng thái làm việc đang tắt</div>
  </ng-template>
     <div class="text_text">Bật tìm việc để nhận được nhiều cơ hội việc làm tốt nhất từ WorkZone.</div>
 </div>
 <div id="body_left">
   <div id="content_body_left">
     <div id="file_created"> <p>Công việc đã ứng tuyển</p> </div>
     <div id="you_create_file"> <p>Bạn đã ứng tuyển 7 công việc</p> </div>
     <div id="xapsep"> <p>Sắp xếp theo:
       <input id="gandaynhat" name="sapxep" type="radio">
       <label for="gandaynhat">Gần đây nhất</label>
       <input id="1thangtruoc"  name="sapxep"type="radio">
       <label for="1thangtruoc">1 tháng trước</label>
       <input id="1namtruoc"  name="sapxep"type="radio">
       <label for="1namtruoc">1 năm trước</label>
       </p>
     </div>
     <div>
     <table>
     <tr>
      <th></th>
         <th>Công việc</th>
         <th>Ngày ứng tuyển</th>
         <th class="text-center ">Trạng thái</th>
     </tr>
     <tr>
         <td class="picture_company image"><img src="assets/media/aia.png" alt="Picture of Company" width="100%" ></td>
         <td >Frontend Developer (JavaScript, ReactJS)</td>
         <td>11/12/2022</td>
         <td> <div id="chitiet" class="text-center ">Đang chờ</div></td>
     </tr>
     <tr>
      <td class="picture_company"><img src="assets/media/aia.png" alt="Picture of Company" width="100%"></td>
      <td>Frontend Developer (JavaScript, ReactJS)</td>
      <td>11/12/2022</td>
      <td> <div id="chitiet">Đang chờ</div></td>
  </tr>
  <tr>
    <td class="picture_company"><img src="assets/media/aia.png" alt="Picture of Company" width="100%" ></td>
    <td>Frontend Developer (JavaScript, ReactJS)</td>
    <td>11/12/2022</td>
    <td> <div id="chitiet">Đang chờ</div></td>
</tr>
<tr>
  <td class="picture_company" ><img src="assets/media/aia.png" alt="Picture of Company" width="100%" ></td>
  <td>Frontend Developer (JavaScript, ReactJS)</td>
  <td>11/12/2022</td>
  <td> <div id="chitiet">Đang chờ</div></td>
</tr>
 </table>
 </div>
 </div>
 </div>
 </div>
</div>
</body>
