<div *ngIf="loggedIn">
  <div class="container">
    <div class="main-menu">
      <div class="left-main-menu">
        <div class="row">
          <div class="col-md-3">
            <a class="logo" routerLink="#"
              ><img src="assets/media/logo.png" alt="Logo"
            /></a>
          </div>
          <div class="col-md-6">
            <ul class="nav-pc">
              <li><a [routerLink]="['/recruitment', empID]">Đăng tuyển dụng</a></li>

              <li><a routerLink="/contact">Liên hệ</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right-main-menu">
        <div class="account">
          <i class="fa-regular fa-circle-user"></i><span>{{person_name}}</span>
          <a (click)="menupc()" >
            <i class="fa-solid fa-sort-down"></i>
          </a>



        </div>
        <a routerLink="/" class="btn btn-primary btn-lg active ntd-logged" role="button" aria-pressed="true">NGƯỜI TÌM VIỆC</a>
      </div>
    </div>
  </div>

  <div>
    <ul class="list-menu-pc " [ngClass]="{'is-display-none': isDisplaynone}" id="list-menu-pc">
      <li>
        <div class="menu-list-row" >
          <a routerLink="/job-application">
            <i class="fa-solid fa-id-card"></i>
          <span> Quản lý hồ sơ</span>
          </a>
        </div>
      </li>
      <li>
        <div class="menu-list-row">
          <a routerLink="/saved">
            <i class="fa-solid fa-heart"></i>
            <span> Thanh toán</span>
          </a>
        </div>
      </li>

      <div class="border"></div>
      <li>
        <div class="menu-list-row name-account">
          <a routerLink="/recruitment">
            <i class="fa-regular fa-circle-user"></i>
          </a> <span>{{person_name}}</span>
        </div>
      </li>
      <li>
        <div class=" log-out "> <a (click)="logout()" role="button" >
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>Đăng xuất</span></a>
        </div>
      </li>
    </ul>



  <!-- mobile -->

    <div id="nav-mb">
      <button (click)="menu()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </div>
  <ul id="list-menu-mb-login" [ngClass]="{'is-left-default': isLeftDefault}" class="list-menu-mb-login">
    <li> <div class="menu-list-row" >
          <a routerLink="/job-application">
            <i class="fa-solid fa-id-card"></i>
          <span> Quản lý hồ sơ </span>
          </a>
        </div></li>
        <li> <div class="menu-list-row" >
         <a routerLink="/saved">
          <i class="fa-solid fa-heart"></i>
         <span> Thanh toán </span>
         </a>
       </div></li>

    <div class="border"></div>
      <li>
        <div class=" name-account">
          <a routerLink="/recruitment">
            <i class="fa-solid fa-buildings"></i>
            <span>{{person_name}}</span>
          </a>
        </div>
      </li>



     <div class="menu-list-row ">
       <ul class="non-nav-pc">
         <li><a [routerLink]="['/recruitment', empID]">>Đăng tuyển dụng</a></li>
         <li><a routerLink="/contact">Liên hệ</a></li>
       </ul>
     </div>


     <div class="account" >
        <i class="fa-solid fa-buildings"></i>
          <span>{{person_name}}</span>
       <a (click)="menupc()" href=""><i class="fa-solid fa-sort-down"></i></a>
      </div>
      <a routerLink="/" class="btn-nav ntd-logged " role="button" aria-pressed="true">
        NGƯỜI TÌM VIỆC</a>
      <li>
        <div class=" log-out "><a (click)="logout()" role="button">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>Đăng xuất</span>
        </a></div>
      </li>
  </ul>
  </div>


  <div *ngIf="!loggedIn">
  <div class="container" >
    <div class="main-menu">
      <div class="left-main-menu">
        <div class="row">
          <div class="col-md-3">
            <a class="logo" href="#"
              ><img src="assets/media/logo.png" alt="Logo"
            /></a>
          </div>
          <div class="col-md-6">
            <ul class="nav-pc">
              <li><a [routerLink]="['/recruitment', empID]">Đăng tuyển dụng</a></li>
              <li><a routerLink="/contact">Liên hệ</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right-main-menu-1">
        <a routerLink="/sign-up-employer" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">ĐĂNG KÝ</a>
        <a routerLink="/login-employer" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">ĐĂNG NHẬP</a>
        <a routerLink="/" class="btn btn-primary btn-lg active ntd" role="button" aria-pressed="true">NGƯỜI TÌM VIỆC</a>
      </div>
    </div>
  </div>


  <div id="nav-mb">
    <button (click)="menu()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>


  <ul class="list-menu-mb-login" [ngClass]="{'is-left-default': isLeftDefault}">
    <li><a [routerLink]="['/recruitment', empID]">Đăng tuyển dụng</a></li>
    <li><a routerLink="/contact">Liên hệ</a></li>
    <a routerLink="/sign-up" class="btn-nav" role="button" aria-pressed="true">ĐĂNG KÝ</a>
    <a routerLink="/login" class="btn-nav" role="button" aria-pressed="true">ĐĂNG NHẬP</a>
    <a routerLink="/" class="btn-nav ntd" role="button" aria-pressed="true">NGƯỜI TÌM VIỆC</a>
  </ul>

  </div>

