<div class="headline">
  <div class="lienhe">Liên hệ</div>
  <div class="line"></div>
  <div class="hotro">Hỗ trợ</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>How can we help?</h1>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Tìm theo chủ đề..." aria-label="Tìm kiếm" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Tìm kiếm</button>
      </div>
    </div>

    <div class="col-md-12">
      <h2>Những chủ đề phổ biến</h2>

      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="bi bi-person-circle" style="font-size: 3rem;"></i>
              <h5 class="card-title">Tài khoản của tôi</h5>
              <p class="card-text">Làm thế nào để thay đổi thông tin Tài khoản?</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="bi bi-shield-fill-check" style="font-size: 3rem;"></i>
              <h5 class="card-title">Quyền riêng tư</h5>
              <p class="card-text">Làm thế nào để thay đổi mật khẩu?</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <i class="bi bi-person-workspace" style="font-size: 3rem;"></i>
              <h5 class="card-title">Tìm việc và ứng tuyển</h5>
              <p class="card-text">Làm thế nào để tìm được công việc phù hợp?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
