<div class="background">
<div class="container">
  <div class="rec29">
    <h4>Tìm tài khoản của bạn</h4>
    <hr>
    <p>Vui lòng nhập email hoặc số điện thoại để tìm kiếm tài khoản của bạn</p>
    <div class="input-">
      <input type="text" id="input" placeholder="Email hoặc số điện thoại" class="form-control">
    </div>
    <br>
    <hr>
    <div class="d-flex justify-content-between">
      <button class="btn btn-secondary aa">Hủy</button>
      <button (click)="openPage()" class="btn btn-primary">Tìm kiếm</button>
    </div>
  </div>
</div>
</div>
