.container{
  width: 550px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  margin-top: 75px;
  padding-top: 10px;
}
.background{
  background-color: #E9E9EA;
  height: 400px;
  position: absolute;
  width: 100%;
}
.aa{
  margin-left: 370px;
}
@media screen and (max-width: 480px){
  .container{
    width: 460px;
    height: 270px;
  }
  .aa{
    margin-left: 0px;
  }


}
