<div class="homepage">
  <div class="hompage-main-banner">
    <div class="hompage-banner-image">
      <img src="assets/media/banner2.jpg" alt="Banner" />
    </div>
  </div>
</div>
<div class="homepage-banner-content">
  <h3>1000+ Jobs For Candidate</h3>

  <div class="box-input">
    <div class="input">
      <span class="icon">
        <i class="fas fa-search"></i>
      </span>
      <input
        type="text"
        id="job"
        placeholder="Nhập công việc, kỹ năng,..."
      />
    </div>

    <div class="input">
      <span class="icon"><i class="fas fa-map-marker-alt"></i> </span>
      <select name="location" id="location">
        <option value="">Tất cả địa điểm</option>
        <option value="">An Giang</option>
        <option value="">Đà Nẵng</option>
        <option value="">Hà Nội</option>
        <option value="">TP Hồ Chí Minh</option>
        <option value="">Buôn Ma Thuộc</option>
        <option value="">Quy Nhơn</option>
        <option value="">Nha Trang</option>
      </select>
    </div>

    <div class="input">
      <input type="button" id="search" value="Tìm kiếm" />
    </div>
  </div>
</div>
