<div class="homepage">
  <div class="hompage-main-banner">
    <div class="hompage-banner-image">
      <img src="assets/media/banner2.jpg" alt="Banner" />
    </div>
  </div>
</div>
<div class="homepage-banner-content mt160">
  <h3>1000+ Jobs For Candidate</h3>

  <div class="homepage-box-input">
    <div class="homepage-input">
      <span class="homepage-icon">
        <i class="fas fa-search"></i>
      </span>
      <input
        type="text"
        id="job"
        placeholder="Nhập công việc, kỹ năng,..."
      />
    </div>
    <div class="homepage-input">
      <span class="homepage-icon"><i class="fas fa-map-marker-alt"></i> </span>
      <select name="location" id="location">
        <option value="">Tất cả địa điểm</option>
      </select>
    </div>
    <div class="homepage-input">
      <input type="button" id="search" value="Tìm kiếm" />
    </div>
  </div>
</div>

<div class="homepage-banner-content">
  <div class="box-content">
    <div class="box-content_left">
      <div class="head" id="hotjob">HOT</div>

      <div class="content-hot">
        <div class="content-img">
          <a routerLink="job-description" target="_blank"
            ><img src="assets/media/fpt-logo.png" alt="FPT-logo"
          /></a>
        </div>
        <div class="content-hot-infor">
          <a routerLink="job-description" target="_blank">
            <div class="comp">
              [HCM] 02 Solution Architects-Up to $2000
            </div></a
          >
          <div>
            <a routerLink="job-description" target="_blank" class="hover1"
              >Fpt Software</a
            >
            |
            <a routerLink="search-job" target="_blank" class="hover2"
              ><i class="bi bi-geo-alt-fill"></i> TP Hồ Chí Minh</a
            >
          </div>
          <div>
            <i class="bi bi-briefcase-fill"></i> Từ 1-3 năm
            &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
            1/11/2022
          </div>
        </div>
        <div class="content-hot-input">
          <button id="apply">Apply Now</button>
        </div>
      </div>
      <hr />

      <div class="content-hot">
        <div class="content-img">
          <a routerLink="job-description" target="_blank">
            <img src="assets/media/hdbank-logo.png" alt="HD-Bank-logo"
          /></a>
        </div>
        <div class="content-hot-infor">
          <a routerLink="job-description" target="_blank"
            ><div class="comp">[HCM] Business Development Manager</div></a
          >
          <div>
            <a routerLink="job-description" target="_blank" class="hover1"
              >HD Bank</a
            >
            |
            <a routerLink="search-job" target="_blank" class="hover2"
              ><i class="bi bi-geo-alt-fill"></i> TP Hồ Chí Minh</a
            >
          </div>
          <div>
            <i class="bi bi-briefcase-fill"></i> Từ 6-7 năm
            &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
            1/11/2022
          </div>
        </div>
        <div class="content-hot-input">
          <button id="apply">Apply Now</button>
        </div>
      </div>
      <hr />

      <div class="content-hot">
        <div class="content-img">
          <a routerLink="job-description" target="_blank">
            <img src="assets/media/fpt-logo.png" alt="FPT-logo"
          /></a>
        </div>
        <div class="content-hot-infor">
          <a routerLink="job-description" target="_blank">
            <div class="comp">[HN] Data Analyst</div></a
          >
          <div>
            <a routerLink="job-description" target="_blank" class="hover1">
              Grab Ltd</a
            >
            |
            <a routerLink="search-job" target="_blank" class="hover2"
              ><i class="bi bi-geo-alt-fill"></i> Hà Nội</a
            >
          </div>
          <div>
            <i class="bi bi-briefcase-fill"></i> Từ 1-3 năm
            &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
            1/11/2022
          </div>
        </div>
        <div class="content-hot-input">
          <button id="apply">Apply Now</button>
        </div>
      </div>
      <hr />

      <div class="content-hot">
        <div class="content-img">
          <a routerLink="job-description" target="_blank">
            <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
          /></a>
        </div>
        <div class="content-hot-infor">
          <a routerLink="job-description" target="_blank">
            <div class="comp">[Remote] PHP Developer</div></a
          >
          <div>
            <a routerLink="job-description" target="_blank" class="hover1">
              Fitech Comp</a
            >
            |
            <a routerLink="search-job" target="_blank" class="hover2"
              ><i class="bi bi-geo-alt-fill"></i> TP Hồ Chí Minh, Hà
              Nội</a
            >
          </div>
          <div>
            <i class="bi bi-briefcase-fill"></i> Từ 2-5 năm
            &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
            1/11/2022
          </div>
        </div>
        <div class="content-hot-input">
          <button id="apply">Apply Now</button>
        </div>
      </div>
      <hr />

      <div class="content-hot">
        <div class="content-img">
          <a routerLink="job-description" target="_blank">
            <img src="assets/media/alipay-logo.png" alt="Alipay-logo"
          /></a>
        </div>
        <div class="content-hot-infor">
          <a routerLink="job-description" target="_blank">
            <div class="comp">
              Fullstack .NET Developer (Angular/React)
            </div></a
          >
          <div>
            <a routerLink="job-description" target="_blank" class="hover1">
              Orient Software</a
            >
            |
            <a routerLink="search-job" target="_blank" class="hover2"
              ><i class="bi bi-geo-alt-fill"></i> Hà Nội</a
            >
          </div>
          <div>
            <i class="bi bi-briefcase-fill"></i> Từ 1-3 tháng
            &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
            1/12/2022
          </div>
        </div>
        <div class="content-hot-input">
          <button id="apply">Apply Now</button>
        </div>
      </div>
      <hr />

      <div class="content-hot">
        <div class="content-img">
          <a routerLink="job-description" target="_blank">
            <img src="assets/media/luxoft-vietnam-logo.png" alt="Luxoft-logo"
          /></a>
        </div>
        <div class="content-hot-infor">
          <a routerLink="job-description" target="_blank">
            <div class="comp">
              Frontend Developer (JavaScript, ReactJS)
            </div></a
          >
          <div>
            <a routerLink="job-description" target="_blank" class="hover1">
              Luxoft Software </a
            >|
            <a routerLink="search-job" target="_blank" class="hover2"
              ><i class="bi bi-geo-alt-fill"></i> Đà Nẵng</a
            >
          </div>
          <div>
            <i class="bi bi-briefcase-fill"></i> Từ 1-2 năm
            &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
            31/10/2022
          </div>
        </div>
        <div class="content-hot-input">
          <button id="apply">Apply Now</button>
        </div>
      </div>
      <hr />

      <div class="content-hot">
        <div class="content-img">
          <a routerLink="job-description" target="_blank">
            <img src="assets/media/nvg-logo.png" alt="NVG-logo"
          /></a>
        </div>
        <div class="content-hot-infor">
          <a href=""> <div class="comp">IVI System Test Engineer</div></a>
          <div>
            <a routerLink="job-description" target="_blank" class="hover1">
              NVG TECHNOLOGY </a
            >|
            <a routerLink="search-job" target="_blank" class="hover2"
              ><i class="bi bi-geo-alt-fill"></i> Đà Nẵng</a
            >
          </div>
          <div>
            <i class="bi bi-briefcase-fill"></i> Từ 2-3 năm
            &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
            1/11/2022
          </div>
        </div>
        <div class="content-hot-input">
          <button id="apply">Apply Now</button>
        </div>
      </div>
      <hr />

      <br />
      <a routerLink="search-job" target="_blank"
        ><div class="more">Xem tất cả</div></a
      ><br />
    </div>

    <div class="box-content_right">
      <div class="box-content_right_top">
        <div class="head">TỪ KHÓA TÌM KIẾM</div>
        <br />
        <div class="catelog-list">
            <p>
              <a routerLink="search-job" target="_blank"
                ><span class="cate-left">Lập trình viên</span
                ><span class="cate-right">(1100)</span></a
              >
            </p><br>
            <p>
              <a routerLink="search-job" target="_blank"
                ><span class="cate-left">BA</span
                ><span class="cate-right">(1500)</span></a
              >
            </p><br>
            <p>
              <a routerLink="search-job" target="_blank"
                ><span class="cate-left">Nhân viên kiểm thử</span
                ><span class="cate-right">(230)</span></a
              >
            </p><br>
            <p>
              <a routerLink="search-job" target="_blank"
                ><span class="cate-left">Kỹ sư cầu nối</span
                ><span class="cate-right">(110)</span></a
              >
            </p><br>
            <p>
              <a routerLink="search-job" target="_blank"
                ><span class="cate-left">Designer</span
                ><span class="cate-right">(2300)</span></a
              >
            </p><br>
            <p>
              <a routerLink="search-job" target="_blank"
                ><span class="cate-left">Digital Marketing</span
                ><span class="cate-right">(300)</span></a
              >
            </p><br>
        </div>
        <p>
          <button  id="myBtn">
            Xem thêm <i class="bi bi-chevron-compact-down"></i>
          </button>
        </p>
      </div>

      <div class="box-content_right_bot">
        <img src="assets/media/ads1.jpg" alt="advertisement" />
      </div>
    </div>
  </div>

  <!-- lastestjob -->

  <div class="container-row-top bgcl">
    <div class="head" id="lastestjob">LASTEST JOB</div>
    <div class="image-slider">
      <div class="job-lastest-item">
        <div class="job-image">
          <img src="assets/media/fpt-logo.png" alt="" />
        </div>
        <div class="job-lastest-content">
          <div class="compa">
            [HCM] 02 Solution Architects - Up to $2000
          </div>
          <div>FPT Software</div>
          <div><i class="bi bi-geo-alt-fill"></i> Đà Nẵng</div>
        </div>
      </div>

      <div class="job-lastest-item">
        <div class="job-image">
          <img src="assets/media/grab-logo.png" alt="Grab-Logo" />
        </div>
        <div class="job-lastest-content">
          <div class="compa">
            [HCM] 02 Solution Architects - Up to $2000
          </div>
          <div>FPT Software</div>
          <div><i class="bi bi-geo-alt-fill"></i> Đà Nẵng</div>
        </div>
      </div>

      <div class="job-lastest-item">
        <div class="job-image">
          <img src="assets/media/fpt-logo.png" alt="FPT-Logo" />
        </div>
        <div class="job-lastest-content">
          <div class="compa">
            [HCM] 02 Solution Architects - Up to $2000
          </div>
          <div>FPT Software</div>
          <div><i class="bi bi-geo-alt-fill"></i> Đà Nẵng</div>
        </div>
      </div>

      <div class="job-lastest-item">
        <div class="job-image">
          <img src="assets/media/fpt-logo.png" alt="FPT-Logo" />
        </div>
        <div class="job-lastest-content">
          <div class="compa">
            [HCM] 02 Solution Architects - Up to $2000
          </div>
          <div>FPT Software</div>
          <div><i class="bi bi-geo-alt-fill"></i> Đà Nẵng</div>
        </div>
      </div>
    </div>
  </div>

  <!-- lastest job -->
  <div class="container-row">
    <div class="container-row-top">
      <div class="top-head" id="congtyhangdau">
        NHỮNG CÔNG TY HÀNG ĐẦU
      </div>
      <div class="top-cent">
        <div class="box1">
          <a routerLink="search-job" target="_blank">
            <div class="img">
              <img src="assets/media/grab-logo.png" alt="Grab-logo" />
            </div>
            <div>Grab (VietNam) Ltd.</div></a
          >
        </div>

        <div class="box1">
          <a routerLink="search-job" target="_blank">
            <div class="img">
              <img src="assets/media/fpt-logo.png" alt="FPT-logo" />
            </div>
            <div>FPT Software</div></a
          >
        </div>

        <div class="box1">
          <a routerLink="search-job" target="_blank">
            <div class="img">
              <img src="assets/media/toshiba-logo.png" alt="Toshiba-logo" />
            </div>
            <div>Toshiba VietNam</div></a
          >
        </div>

        <div class="box1">
          <a routerLink="search-job" target="_blank">
            <div class="img">
              <img
                src="assets/media/luxoft-vietnam-logo.png"
                alt="Luxoft-logo"
              />
            </div>
            <div>Luxoft Software</div></a
          >
        </div>

        <div class="box1">
          <a routerLink="search-job" target="_blank">
            <div class="img">
              <img
                src="assets/media/techcombank-logo.png"
                alt="Techcombank-logo"
              />
            </div>
            <div>Techcombank</div></a
          >
        </div>

        <div class="box1">
          <a routerLink="search-job" target="_blank">
            <div class="img">
              <img src="assets/media/logo-SMC-1.gif" alt="SCS-logo" />
            </div>
            <div>SMC Company</div></a
          >
        </div>

        <div class="box1">
          <a routerLink="search-job" target="_blank">
            <div class="img">
              <img
                src="assets/media/home-credit-logo.png"
                alt="Homecreadit-logo"
              />
            </div>
            <div>Home Credit</div></a
          >
        </div>

        <div class="box1">
          <a routerLink="search-job" target="_blank">
            <div class="img">
              <img src="assets/media/alipay.png" alt="Alipay-logo" />
            </div>
            <div>ALIPAY Software</div></a
          >
        </div>
      </div>
    </div>
    <br />
    <div class="container-row-top1">
      <div class="head2" id="vieclamhapdan">
        <i class="bi bi-briefcase-fill"></i> Việc làm hấp dẫn
      </div>

      <div class="content-row">
        <div class="box2">
          <div class="box2-item">
            <a routerLink="search-job" target="_blank">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div>
              <a routerLink="job-description" target="_blank">Fitech</a>
            </div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>

        <div class="box2">
          <div class="box2-item">
            <a routerLink="job-description" target="_blank">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div><a href="">Fitech</a></div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>

        <div class="box2">
          <div class="box2-item">
            <a routerLink="job-description" target="_blank">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div>
              <a routerLink="job-description" target="_blank">Fitech</a>
            </div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>

        <div class="box2">
          <div class="box2-item">
            <a routerLink="job-description" target="_blank">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div>
              <a routerLink="job-description" target="_blank">Fitech</a>
            </div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>

        <div class="box2">
          <div class="box2-item">
            <a routerLink="job-description" target="_blank">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div>
              <a routerLink="job-description" target="_blank">Fitech</a>
            </div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>

        <div class="box2">
          <div class="box2-item">
            <a routerLink="job-description" target="_blank">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div>
              <a routerLink="job-description" target="_blank">Fitech</a>
            </div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>

        <div class="box2">
          <div class="box2-item">
            <a routerLink="job-description" target="_blank">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div>
              <a routerLink="job-description" target="_blank">Fitech</a>
            </div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>

        <div class="box2">
          <div class="box2-item">
            <a routerLink="job-description" target="_blank">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div>
              <a routerLink="job-description" target="_blank">Fitech</a>
            </div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>

        <div class="box2">
          <div class="box2-item">
            <a routerLink="job-description" target="_blank">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div>
              <a routerLink="job-description" target="_blank">Fitech</a>
            </div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>

        <div class="box2">
          <div class="box2-item">
            <a routerLink="job-description" target="_blank">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div>
              <a routerLink="job-description" target="_blank">Fitech</a>
            </div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>

        <div class="box2">
          <div class="box2-item">
            <a routerLink="job-description" target="_blank">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div>
              <a routerLink="job-description" target="_blank">Fitech</a>
            </div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>

        <div class="box2">
          <div class="box2-item">
            <a routerLink="job-description" target="_blank">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div>
              <a routerLink="job-description" target="_blank">Fitech</a>
            </div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>

        <div class="box2">
          <div class="box2-item">
            <a routerLink="job-description" target="_blank">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div>
              <a routerLink="job-description" target="_blank">Fitech</a>
            </div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>

        <div class="box2">
          <div class="box2-item">
            <a href="">
              <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
            /></a>
          </div>

          <div class="box2-item">
            <div>
              <a routerLink="job-description" target="_blank">
                .NET/C# developer($1,000-$1,500 net)</a
              >
            </div>
            <div>
              <a routerLink="job-description" target="_blank">Fitech</a>
            </div>
          </div>

          <div class="box2-item">
            <div><i class="bi bi-cash"></i> 10-20 triệu</div>
            <div><i class="bi bi-geo-alt-fill"></i> Hà Nội</div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-row-top2">
      <a routerLink="job-description" target="_blank">
        <img src="assets/media/hna.jpg" alt=""
      /></a>
    </div>

    <div class="container-row-top3">
      <div class="top-head" id="tintuc">TIN TỨC</div>

      <div class="top-cent1">
        <div class="top-cent1-box1">
          <a
            href="https://luatvietnam.vn/lao-dong-tien-luong/khong-buoc-thoi-viec-562-25629-article.html"
            target="_blank"
          >
            <div class="box3-item1">
              <img src="assets/media/news1.jpg" alt="New1" />
            </div>
            <div class="box3-item2">
              <div class="box3-item2-content1">QUYỀN LỢI NHÂN VIÊN</div>
              <div class="box3-item2-content2">
                5 thời điểm doanh nghiệp không được buộc người lao động
                thôi việc
              </div>
              <div class="box3-item2-content3">
                Khi nào thì người sử dụng lao động được quyền đơn phương
                chấm dứt hợp đồng khi nào thì không? Cùng tham khảo bài
                viết sau đây để hiểu thêm về quyền lợi của người lao động
                Việt Nam nhé!
              </div>
            </div>
          </a>
        </div>
        <div class="top-cent1-box1">
          <a
            href="https://www.vietnamworks.com/hrinsider/nhay-viec-va-nhung-con-so-ban-can-phai-luu-tam.html"
            target="_blank"
          >
            <div class="box3-item1">
              <img src="assets/media/news2.jpg" alt="New2" />
            </div>
            <div class="box3-item2">
              <div class="box3-item2-content1">TRƯỚC KHI NHẢY VIỆC</div>
              <div class="box3-item2-content2">
                Nhảy việc và những con số bạn cần phải lưu tâm
              </div>
              <div class="box3-item2-content3">
                Dù bạn nhảy việc vì lý do gì cũng hãy cân nhắc đến những
                “con số” sau đây nhé!
              </div>
            </div>
          </a>
        </div>
        <div class="top-cent1-box1">
          <a
            href="https://www.vietnamworks.com/hrinsider/danh-gia-buoc-dem-can-thiet-trong-viec-dao-tao-huan-luyen-nhan-vien.html"
            target="_blank"
          >
            <div class="box3-item1">
              <img src="assets/media/news3.png" alt="New3" />
            </div>
            <div class="box3-item2">
              <div class="box3-item2-content1">HUẤN LUYỆN NHÂN SỰ</div>
              <div class="box3-item2-content2">
                Đánh giá: bước đệm cần thiết trong việc đào tạo huấn luyện
                nhân viên
              </div>
              <div class="box3-item2-content3">
                Cú sốc về kinh tế do Covid-19 gây ra đã khiến cho nhiều
                doanh nghiệp lớn và nhỏ phải nhanh chóng tìm ra các phương
                án ứng phó tốc độ và hiệu quả để giải quyết bài toán về
                tìn...
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


