<div class="homepage">
  <div class="hompage-main-banner">
    <div class="hompage-banner-image">
      <img src="assets/media/banner2.jpg" alt="Banner" />
    </div>
  </div>
</div>
<div class="homepage-banner-content mt160">
  <h3>Tìm kiếm công việc mơ ước</h3>

  <div class="homepage-box-input">
    <div class="homepage-input">
      <span class="homepage-icon">
        <i class="fas fa-search"></i>
      </span>
      <input
        type="text"
        id="job"
        placeholder="Nhập công việc, kỹ năng,..."
      />
    </div>
    <div class="homepage-input">
      <span class="homepage-icon"><i class="fas fa-map-marker-alt"></i> </span>
      <select name="location" id="location">
        <option value="">Tất cả địa điểm</option>
      </select>
    </div>
    <div class="homepage-input">
      <input type="button" id="search" value="Tìm kiếm" />
    </div>
  </div>
  <div class="homepage-box-content">
    <div class="homepage-box-content-left">
      <div class="head">TỪ KHÓA TÌM KIẾM</div>
        <br />
        <div class="catelog-list">
            <p>
              <a href="timkiemvieclam.html" target="_bank"
                ><span class="cate-left">Lập trình viên</span
                ><span class="cate-right">(1100)</span></a
              >
            </p><br>
            <p>
              <a href="timkiemvieclam.html" target="_bank"
                ><span class="cate-left">BA</span
                ><span class="cate-right">(1500)</span></a
              >
            </p><br>
            <p>
              <a href="timkiemvieclam.html" target="_bank"
                ><span class="cate-left">Nhân viên kiểm thử</span
                ><span class="cate-right">(230)</span></a
              >
            </p><br>
            <p>
              <a href="timkiemvieclam.html" target="_bank"
                ><span class="cate-left">Kỹ sư cầu nối</span
                ><span class="cate-right">(110)</span></a
              >
            </p><br>
            <p>
              <a href="timkiemvieclam.html" target="_bank"
                ><span class="cate-left">Designer</span
                ><span class="cate-right">(2300)</span></a
              >
            </p><br>
            <p>
              <a href="timkiemvieclam.html" target="_bank"
                ><span class="cate-left">Digital Marketing</span
                ><span class="cate-right">(300)</span></a
              >
            </p><br>
        </div>
    </div>
    <div class="homepage-box-content-right">
    </div>
  </div>
</div>
