<div class="homepage">
  <div class="hompage-main-banner">
    <div class="hompage-banner-image">
      <img src="assets/media/banner2.jpg" alt="Banner" />
    </div>
  </div>
</div>
<div class="homepage-banner-content mt160">
  <h3>Tìm kiếm công việc mơ ước</h3>

  <div class="homepage-box-input">
    <div class="homepage-input">
      <span class="homepage-icon">
        <i class="fas fa-search"></i>
      </span>
      <input
        type="text"
        id="job"
        placeholder="Nhập công việc, kỹ năng,..."
      />
    </div>
    <div class="homepage-input">
      <span class="homepage-icon"><i class="fas fa-map-marker-alt"></i> </span>
      <select name="location" id="location">
        <option value="">Tất cả địa điểm</option>
      </select>
    </div>
    <div class="homepage-input">
      <input type="button" id="search" value="Tìm kiếm" />
    </div>
  </div>
</div>
<!-- new   -->

<div class="search-main-content">
  <div class="search-main-content-left">
    <button class="search-filter" (click)="toggleText()">
      <span *ngIf="showText"><i class="bi bi-x-lg"></i></span>
      <span *ngIf="!showText"><i class="bi bi-funnel-fill"></i></span>
      Filter & Refind
    </button>
    <div class="border">
      <div class="search-card" *ngIf="showText">
        <div class="search-card1" >
          <div (click)="toggleText1()">
            <span class="cate-left category">Ngành nghề</span>
            <span class="cate-right" *ngIf="showText1"><i class="bi bi-chevron-up"></i></span>
            <span class="cate-right" *ngIf="!showText1"><i class="bi bi-chevron-down"></i></span>
          </div><br>
          <div class="search-card-item">
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
            <p *ngIf="showText1">
              <span class="cate-left mf10">Tất cả cấp bậc</span>
              <span class="cate-right">(1,000)</span>
            </p>
          </div>
          <hr class="search-hr">
          <!-- Mức lương -->
          <div class="search-card-item" style="margin-bottom: 30px;">
            <div (click)="toggleText2()">
              <span class="cate-left category">Mức lương</span>
              <span class="cate-right" *ngIf="showText2"><i class="bi bi-chevron-up"></i></span>
              <span class="cate-right" *ngIf="!showText2"><i class="bi bi-chevron-down"></i></span>
            </div><br>
            <div *ngIf="showText2">
              <div>
                <form action="">
                  <input type="number" class="search-price mf10" placeholder="1.000.000"  name="" id="">
                  -
                  <input type="number" class="search-price" placeholder="5.000.000" name="" id="">
                  <button type="submit" class="btn-price"><i class="bi bi-chevron-right"></i></button>
                </form>
              </div>
            </div>
        </div>
        <hr class="search-hr">
        <!-- Đánh giá -->
        <div class="search-card-item" style="margin-bottom: 30px;">
          <div (click)="toggleText3()">
            <span class="cate-left category">Đánh giá</span>
            <span class="cate-right" *ngIf="showText3"><i class="bi bi-chevron-up"></i></span>
            <span class="cate-right" *ngIf="!showText3"><i class="bi bi-chevron-down"></i></span>
          </div><br>
          <div *ngIf="showText3">
            <div class="search-rate">
              <i class="bi bi-star-fill "></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              (từ 5 sao)
            </div>
            <div class="search-rate">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star"></i>
              (từ 4 sao)
            </div>
            <div class="search-rate">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              (từ 3 sao)
            </div>
          </div>
      </div><hr class="search-hr">
      <div (click)="toggleText4()">
        <span class="cate-left category">Cấp bậc</span>
        <span class="cate-right mf10" *ngIf="showText4"><i class="bi bi-chevron-up"></i></span>
        <span class="cate-right" *ngIf="!showText4"><i class="bi bi-chevron-down"></i></span>
      </div><br>
      <div class="search-card-item">

        <p *ngIf="showText4">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
        <p *ngIf="showText4">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
        <p *ngIf="showText4">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
        <p *ngIf="showText4">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
        <p *ngIf="showText4">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
        <p *ngIf="showText4">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
        <p *ngIf="showText1">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
        <p *ngIf="showText4">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
        <p *ngIf="showText4">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
        <p *ngIf="showText4">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
        <p *ngIf="showText4">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
        <p *ngIf="showText4">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
        <p *ngIf="showText4">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
        <p *ngIf="showText4">
          <span class="cate-left mf10">Tất cả ngành nghề</span>
          <span class="cate-right">(1,000)</span>
        </p>
      </div>
      </div>
    </div>
    </div>
</div>
<div class="search-main-content-right">
  <div class="search-filter">Đã tìm thấy x công việc</div>
  <div class="border">
    <div class="content-hot" style="margin-top: 10px;">
      <div class="content-img">
        <a href="motacongviec.html" target="_bank"
          ><img src="assets/media/fpt-logo.png" alt="FPT-logo"
        /></a>
      </div>
      <div class="content-hot-infor">
        <a href="motacongviec.html" target="_bank">
          <div class="comp">
            [HCM] 02 Solution Architects-Up to $2000
          </div></a
        >
        <div>
          <a href="motacongviec.html" target="_bank" class="hover1"
            >Fpt Software</a
          >
          |
          <a href="timkiemvieclam.html" target="_bank" class="hover2"
            ><i class="bi bi-geo-alt-fill"></i> TP Hồ Chí Minh</a
          >
        </div>
        <div>
          <i class="bi bi-briefcase-fill"></i> Từ 1-3 năm
          &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
          1/11/2022
        </div>
      </div>
      <div class="content-hot-input">
        <button id="apply">Apply Now</button>
      </div>
    </div>
    <hr />

    <div class="content-hot">
      <div class="content-img">
        <a href="motacongviec.html" target="_bank">
          <img src="assets/media/hdbank-logo.png" alt="HD-Bank-logo"
        /></a>
      </div>
      <div class="content-hot-infor">
        <a href="motacongviec.html" target="_bank"
          ><div class="comp">[HCM] Business Development Manager</div></a
        >
        <div>
          <a href="motacongviec.html" target="_bank" class="hover1"
            >HD Bank</a
          >
          |
          <a href="timkiemvieclam.html" target="_bank" class="hover2"
            ><i class="bi bi-geo-alt-fill"></i> TP Hồ Chí Minh</a
          >
        </div>
        <div>
          <i class="bi bi-briefcase-fill"></i> Từ 6-7 năm
          &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
          1/11/2022
        </div>
      </div>
      <div class="content-hot-input">
        <button id="apply">Apply Now</button>
      </div>
    </div>
    <hr />

    <div class="content-hot">
      <div class="content-img">
        <a href="motacongviec.html" target="_bank">
          <img src="assets/media/fpt-logo.png" alt="FPT-logo"
        /></a>
      </div>
      <div class="content-hot-infor">
        <a href="motacongviec.html" target="_bank">
          <div class="comp">[HN] Data Analyst</div></a
        >
        <div>
          <a href="motacongviec.html" target="_bank" class="hover1">
            Grab Ltd</a
          >
          |
          <a href="timkiemvieclam.html" target="_bank" class="hover2"
            ><i class="bi bi-geo-alt-fill"></i> Hà Nội</a
          >
        </div>
        <div>
          <i class="bi bi-briefcase-fill"></i> Từ 1-3 năm
          &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
          1/11/2022
        </div>
      </div>
      <div class="content-hot-input">
        <button id="apply">Apply Now</button>
      </div>
    </div>
    <hr />

    <div class="content-hot">
      <div class="content-img">
        <a href="motacongviec.html" target="_bank">
          <img src="assets/media/fitech-logo.jpg" alt="Fitech-logo"
        /></a>
      </div>
      <div class="content-hot-infor">
        <a href="motacongviec.html" target="_bank">
          <div class="comp">[Remote] PHP Developer</div></a
        >
        <div>
          <a href="motacongviec.html" target="_bank" class="hover1">
            Fitech Comp</a
          >
          |
          <a href="timkiemvieclam.html" target="_bank" class="hover2"
            ><i class="bi bi-geo-alt-fill"></i> TP Hồ Chí Minh, Hà
            Nội</a
          >
        </div>
        <div>
          <i class="bi bi-briefcase-fill"></i> Từ 2-5 năm
          &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
          1/11/2022
        </div>
      </div>
      <div class="content-hot-input">
        <button id="apply">Apply Now</button>
      </div>
    </div>
    <hr />

    <div class="content-hot">
      <div class="content-img">
        <a href="motacongviec.html" target="_bank">
          <img src="assets/media/alipay-logo.png" alt="Alipay-logo"
        /></a>
      </div>
      <div class="content-hot-infor">
        <a href="motacongviec.html" target="_bank">
          <div class="comp">
            Fullstack .NET Developer (Angular/React)
          </div></a
        >
        <div>
          <a href="motacongviec.html" target="_bank" class="hover1">
            Orient Software</a
          >
          |
          <a href="timkiemvieclam.html" target="_bank" class="hover2"
            ><i class="bi bi-geo-alt-fill"></i> Hà Nội</a
          >
        </div>
        <div>
          <i class="bi bi-briefcase-fill"></i> Từ 1-3 tháng
          &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
          1/12/2022
        </div>
      </div>
      <div class="content-hot-input">
        <button id="apply">Apply Now</button>
      </div>
    </div>
    <hr />

    <div class="content-hot">
      <div class="content-img">
        <a href="motacongviec.html" target="_bank">
          <img src="assets/media/luxoft-vietnam-logo.png" alt="Luxoft-logo"
        /></a>
      </div>
      <div class="content-hot-infor">
        <a href="motacongviec.html" target="_bank">
          <div class="comp">
            Frontend Developer (JavaScript, ReactJS)
          </div></a
        >
        <div>
          <a href="motacongviec.html" target="_bank" class="hover1">
            Luxoft Software </a
          >|
          <a href="timkiemvieclam.html" target="_bank" class="hover2"
            ><i class="bi bi-geo-alt-fill"></i> Đà Nẵng</a
          >
        </div>
        <div>
          <i class="bi bi-briefcase-fill"></i> Từ 1-2 năm
          &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
          31/10/2022
        </div>
      </div>
      <div class="content-hot-input">
        <button id="apply">Apply Now</button>
      </div>
    </div>
    <hr />

    <div class="content-hot">
      <div class="content-img">
        <a href="motacongviec.html" target="_bank">
          <img src="assets/media/nvg-logo.png" alt="NVG-logo"
        /></a>
      </div>
      <div class="content-hot-infor">
        <a href=""> <div class="comp">IVI System Test Engineer</div></a>
        <div>
          <a href="motacongviec.html" target="_bank" class="hover1">
            NVG TECHNOLOGY </a
          >|
          <a href="timkiemvieclam.html" target="_bank" class="hover2"
            ><i class="bi bi-geo-alt-fill"></i> Đà Nẵng</a
          >
        </div>
        <div>
          <i class="bi bi-briefcase-fill"></i> Từ 2-3 năm
          &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i> Hạn nộp:
          1/11/2022
        </div>
      </div>
      <div class="content-hot-input">
        <button id="apply">Apply Now</button>
      </div>
    </div>
    <hr />

    <br />
    <a href="timkiemvieclam.html" target="_bank"
      ><div class="more">Xem tất cả</div></a
    ><br />
  </div>






</div>

