<div class="homepage">
  <div class="hompage-main-banner">
    <div class="hompage-banner-image">
      <img src="assets/media/banner2.jpg" alt="Banner" />
    </div>
  </div>
</div>
<div class="homepage-banner-content mt160">
  <h3>Tìm kiếm công việc mơ ước</h3>

  <div class="homepage-box-input">
    <div class="homepage-input">
      <span class="homepage-icon">
        <i class="fas fa-search"></i>
      </span>
      <input
        type="text"
        id="job"
        placeholder="Nhập công việc, kỹ năng,..."
      />
    </div>
    <div class="homepage-input">
      <span class="homepage-icon"><i class="fas fa-map-marker-alt"></i></span>
      <select name="location" id="location">
        <option value="">Tất cả địa điểm</option>
        <option value="">TP. Hồ Chí Minh</option>
        <option value="">Hà Nội</option>
        <option value="">Bình Dương</option>
        <option value="">Hải Phòng</option>
        <option value="">Quảng Ninh</option>
        <option value="">Đồng Nai</option>
        <option value="">Long An</option>
        <option value="">Vũng Tàu</option>
        <option value="">Cần Thơ</option>
        <option value="">Bạc Liêu</option>
      </select>
    </div>
    <div class="homepage-input">
      <input type="button" id="search" value="Tìm kiếm" />
    </div>
  </div>
</div>
<!-- new   -->

<div class="search-main-content">
  <div class="search-main-content-left">
    <button class="search-filter" (click)="toggleText()">
      <span *ngIf="showText"><i class="bi bi-x-lg"></i></span>
      <span *ngIf="!showText"><i class="bi bi-funnel-fill"></i></span>
      Filter & Refind
    </button>
    <div class="border">
      <div class="search-card" *ngIf="showText">
        <div class="search-card">
          <div (click)="toggleText1()">
            <span class="cate-left category">Ngành nghề</span>
            <span class="cate-right" *ngIf="showText1"><i class="bi bi-chevron-up"></i></span>
            <span class="cate-right" *ngIf="!showText1"><i class="bi bi-chevron-down"></i></span>
          </div><br>
          <div class="search-card-item">
            <p *ngIf="showText1">
              <a (click)="getAll()"><span class="cate-left mf10">Tất cả cấp bậc</span></a>
              <span class="cate-right">(96)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getIT()"><span class="cate-left mf10">CNTT - Phần mềm</span></a>
              <span class="cate-right">(21)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getTV()"><span class="cate-left mf10">Tư vấn</span></a>
              <span class="cate-right">(13)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getDVKH()"><span class="cate-left mf10">Dịch vụ khách hàng</span></a>
              <span class="cate-right">(9)</span>
            </p>

            <p *ngIf="showText1">
              <a (click)="getNH()"><span class="cate-left mf10">Ngân hàng</span></a>
              <span class="cate-right">(6)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getCNTT()"><span class="cate-left mf10">Công nghệ thông tin</span></a>
              <span class="cate-right">(6)</span>
            </p>

            <p *ngIf="showText1">
              <a (click)="getQC()"><span class="cate-left mf10">Quản lý chất lượng (QA/QC)</span></a>
              <span class="cate-right">(6)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getBHKD()"><span class="cate-left mf10">Bán hàng / Kinh doanh</span></a>
              <span class="cate-right">(6)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getDT()"><span class="cate-left mf10">Điện / Điện tử / Điện lạnh</span></a>
              <span class="cate-right">(6)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getOTO()"><span class="cate-left mf10">Cơ khí / Ô tô / Tự động hóa</span></a>
              <span class="cate-right">(4)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getBL()"><span class="cate-left mf10">Bán lẻ / Bán sỉ</span></a>
              <span class="cate-right">(4)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getTC()"><span class="cate-left mf10">Tài chính / Đầu tư</span></a>
              <span class="cate-right">(4)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getKiemToan()"><span class="cate-left mf10">Kế toán / Kiểm toán</span></a>
              <span class="cate-right">(3)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getTT()"><span class="cate-left mf10">Thời trang</span></a>
              <span class="cate-right">(3)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getXayDung()"><span class="cate-left mf10">Xây dựng</span></a>
               <span class="cate-right">(3)</span>
             </p>
            <p *ngIf="showText1">
              <a (click)="getNHKS()"><span class="cate-left mf10">Nhà hàng / Khách sạn</span></a>
              <span class="cate-right">(2)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getBH()"><span class="cate-left mf10">Bảo hiểm</span></a>
              <span class="cate-right">(2)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getBH()"><span class="cate-left mf10">Môi trường</span></a>
              <span class="cate-right">(2)</span>
            </p>
            <p *ngIf="showText1">
              <a (click)="getGD()"><span class="cate-left mf10">Giáo dục / Đào tạo</span></a>
              <span class="cate-right">(2)</span>
            </p>

          </div>
          <hr class="search-hr">
      <div (click)="toggleText4()">
        <span class="cate-left category">Cấp bậc</span>
        <span class="cate-right" *ngIf="showText4"><i class="bi bi-chevron-up"></i></span>
        <span class="cate-right" *ngIf="!showText4"><i class="bi bi-chevron-down"></i></span>
      </div><br>
      <div class="search-card-item">
        <p *ngIf="showText4">
          <a (click)="getNhanVien()"><span class="cate-left mf10">Nhân viên</span></a>
          <span class="cate-right">(80)</span>
        </p>
        <p *ngIf="showText4">
          <a (click)="getQuanLy()"><span class="cate-left mf10">Quản lý</span></a>
          <span class="cate-right">(4)</span>
        </p>
        <p *ngIf="showText4">
          <a (click)="getQLGS()"><span class="cate-left mf10">Quản lý / Giám sát</span></a>
          <span class="cate-right">(4)</span>
        </p>
        <p *ngIf="showText4">
          <a (click)="getTruongNhom()"><span class="cate-left mf10">Trưởng nhóm</span></a>
          <span class="cate-right">(2)</span>
        </p>
        <p *ngIf="showText4">
          <a (click)="getTruongPhong()"><span class="cate-left mf10">Trưởng phòng</span></a>
          <span class="cate-right">(2)</span>
        </p>
        <p *ngIf="showText4">
          <a (click)="getTNGS()"><span class="cate-left mf10">Trưởng nhóm / Giám sát</span></a>
          <span class="cate-right">(2)</span>
        </p>
        <p *ngIf="showText1">
          <a (click)="getVuaTN()"><span class="cate-left mf10">Vừa tốt nghiệp</span></a>
          <span class="cate-right">(1)</span>
        </p>
      </div>
      </div>
    </div>
    </div>
</div>
<div class="search-main-content-right">
  <div class="search-filter">Đã tìm thấy {{jobs.length}} công việc</div>
  <div class="border">
    <div class="content-hot" style="margin-top: 10px;" *ngFor="let p of jobs; let i =index">
      <div class="content-img">
        <a><img src="{{p.image}}"
        /></a>
      </div>
      <div class="content-hot-infor">
        <a (click)="goToDescription(p.jobJD)">
          <div class="comp">
            {{p.job_name}}
          </div>
        </a>
        <div>
          <a (click)="goToCompany(p.company_id)" class="hover1">{{p.company}}</a
          >
          |
          <a class="hover2"><i class="bi bi-geo-alt-fill"></i> {{p.address}}</a
          >
        </div>
        <div>
          <i class="bi bi-briefcase-fill"></i>&nbsp;&nbsp;{{p.exprience}}
          &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-clock"></i>&nbsp;&nbsp;{{p.dealine}}
        </div>
      </div>
      <div class="content-hot-input">
        <button id="apply">Apply Now</button>
      </div>
    </div>
</div>
</div>

