<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkZone</title>
    <link rel="stylesheet" href="thongtin.component.css">
    <link rel="stylesheet" href="" />
    <link rel="shortcut icon" href="./media/logo0nen.ico">



</head>
<body>


     <div id="nav-mb">
       <button onclick="menu()">
         <i class="fa-solid fa-bars"></i>
       </button>
     </div>



       <div class="rec466">
        <div class="veWorkZone">Về WorkZone</div>
        <div class="line"></div>
        <div class="dieukhoan"><a routerLink="/dieukhoandichvu">Điều khoản và dịch vụ</a></div>
      </div>
      <div class="staff">
      <img src="assets/media/Staff.png" width="100%" >

        </div>
        <div class="Workzone">
            <img src="assets/media/Workzone.png" width="100%">
        </div>
        <hr/>
        <div class="vechungtoi">
            <h2>VỀ CHÚNG TÔI</h2>
        </div>
        <div class="vechungtoi1">
            <div class="vechungtoi1_1">
                <p>Bằng công nghệ, chúng tôi tạo ra nền tảng cho phép người lao động có thể tìm việc, tìm hiểu về các công ty và tương tác với các nhà tuyển dụng.</p>
            </div>
            <div class="vechungtoi1_2">
                <img class="img" src="assets/media/Staff1.png">
            </div>
        </div>
        <div class="vechungtoi2">
            <div class="vechungtoi2_1">
                <p>Tập trung vào trải nghiệm dành của ứng viên khi đi tìm việc, mục tiêu của WorkZone là mang đến một nền tảng toàn diện, giúp ứng viên phát triển được các kỹ năng cá nhân, xây dựng hình ảnh chuyên nghiệp trong mắt nhà tuyển dụng và tiếp cận với các cơ hội việc làm phù hợp</p>
            </div>
            <div class="vechungtoi2_2">
                <img class="img" src="assets/media/Staff2.png" >
            </div>
        </div>
        <br/>
        <br/>
        <hr/>
        <div class="vechungtoi">
            <h2>CƠ SỞ VẬT CHẤT</h2>
        </div>
        <div class="coso">
            <div class="coso_1">
                <img class="img1" src="assets/media/csvc1.png">
            </div>
            <div class="coso_2">
                <img class="img1" src="assets/media/csvc2.png">
            </div>
        </div>
        <div class="coso1">
            <div class="coso1_1">
                <img class="img1" src="assets/media/csvc3.png">
            </div>
            <div class="coso1_2">
                <img class="img1" src="assets/media/csvc4.png">
            </div>
        </div>
        <br/>
        <br/>
        <hr/>
        <div class="vechungtoi">
            <h2>NHÂN SỰ</h2>
        </div>
        <div class="nhansu">
            <div class="rec">
                <div class="ava_1"><img class="img2" src="assets/media/ava1.png"></div>
                <div class="ava_2">
                    <h3>ÂU LẠC NHI</h3>
                    <h4>Team Leader</h4>
                </div>
            </div>
            <div class="rec">
              <div class="ava_1"><img class="img2" src="assets/media/ava2.png"></div>
              <div class="ava_2">
                  <h3>NGUYỄN THU HẰNG</h3>
                  <h4>Team Member</h4>
              </div>
            </div>
            </div>
            <div class="rec">
              <div class="ava_1"><img class="img2" src="assets/media/ava3.png"></div>
                <div class="ava_2">
                    <h3>LÊ TRỌNG SƠN</h3>
                    <h4>Team Member</h4>
                </div>
            </div>
            <div class="rec">
              <div class="ava_1"><img class="img2" src="assets/media/ava4.png"></div>
              <div class="ava_2">
                  <h3>TRẦN NHẬT HÀN LÂM</h3>
                  <h4>Team Member</h4>
              </div>
            </div>
            <div class="rec"><div class="ava_1"><img class="img2" src="assets/media/ava5.png"></div>
            <div class="ava_2">
                <h3>NGUYỄN PHƯỚC THỊNH</h3>
                <h4>Team Member</h4>
            </div></div>

</body>
</html>
