<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkZone</title>
    <link rel="stylesheet" href="thongtin.component.css">
    <link rel="stylesheet" href="" />
    <link rel="shortcut icon" href="./media/logo0nen.ico">
    
    

  
</head>
<body>
  <!-- <div class="container">
    <div class="main-menu">
     <div class="left-main-menu">
       <div class="row">
         <div class="col-md-3">
          <a class="logo" href=""><img src="/src/assets/media/logo.png" alt="Logo"></a> 
         </div>
         <div class="col-md-5">
           <ul class="nav-pc">
             <li><a href="./dangtuyen.html">Đăng tuyển dụng</a></li>
             <li><a href="./timkiemungvien.html">Tìm hồ sơ</a></li>
             <li><a href="./lienhe.html">Liên hệ</a></li>

           </ul>
         </div>
       </div>
     </div>
     <div class="right-main-menu">
       <a href="./dangky_nhatuyendung.html"><button class="btn-menu">ĐĂNG KÝ</button></a>
       <a href="./dangnhap_nhatuyendung.html"><button class="btn-menu">ĐĂNG NHẬP</button></a> 
       <a href="./trangchu_nguoitimviec.html"><button class="btn-menu ntd">NGƯỜI TÌM VIỆC</button></a> 
     
     </div>
    </div>
   </div> -->

     <div id="nav-mb">
       <button onclick="menu()">
         <i class="fa-solid fa-bars"></i>
       </button>
     </div>
   
   
       
       <div class="rec466">
        <div class="veWorkZone">Về WorkZone</div>
        <div class="line"></div>
        <div class="dieukhoan"><a routerLink="/dieukhoandichvu">Điều khoản và dịch vụ</a></div>
      </div>
      <div class="staff">
      <img src="assets/media/Staff.png" width="100%" >
      
        </div>
        <div class="Workzone">
            <img src="assets/media/Workzone.png" width="100%">
        </div>
        <hr/>
        <div class="vechungtoi">
            <h2>VỀ CHÚNG TÔI</h2> 
        </div>
        <div class="vechungtoi1">
            <div class="vechungtoi1_1">
                <p>Bằng công nghệ, chúng tôi tạo ra nền tảng cho phép người lao động có thể tìm việc, tìm hiểu về các công ty và tương tác với các nhà tuyển dụng.</p>
            </div>
            <div class="vechungtoi1_2">
                <img class="img" src="assets/media/Staff1.png">
            </div>
        </div>
        <div class="vechungtoi2">
            <div class="vechungtoi2_1">
                <p>Tập trung vào trải nghiệm dành của ứng viên khi đi tìm việc, mục tiêu của WorkZone là mang đến một nền tảng toàn diện, giúp ứng viên phát triển được các kỹ năng cá nhân, xây dựng hình ảnh chuyên nghiệp trong mắt nhà tuyển dụng và tiếp cận với các cơ hội việc làm phù hợp</p>
            </div>
            <div class="vechungtoi2_2">
                <img class="img" src="assets/media/Staff2.png" >
            </div>
        </div>
        <br/>
        <br/>
        <hr/>
        <div class="vechungtoi">
            <h2>CƠ SỞ VẬT CHẤT</h2> 
        </div>
        <div class="coso">
            <div class="coso_1">
                <img class="img1" src="assets/media/csvc1.png">
            </div>
            <div class="coso_2">
                <img class="img1" src="assets/media/csvc2.png">
            </div>
        </div>
        <div class="coso1">
            <div class="coso1_1">
                <img class="img1" src="assets/media/csvc3.png">
            </div>
            <div class="coso1_2">
                <img class="img1" src="assets/media/csvc4.png">
            </div>
        </div>
        <br/>
        <br/>
        <hr/>
        <div class="vechungtoi">
            <h2>NHÂN SỰ</h2> 
        </div>
        <div class="nhansu">
            <div class="rec">
                <div class="ava_1"><img class="img2" src="assets/media/ava1.png"></div>
                <div class="ava_2">
                    <h3>ÂU LẠC NHI</h3>
                    <h4>Team Leader</h4>
                </div>
            </div>
            <div class="rec">
              <div class="ava_1"><img class="img2" src="assets/media/ava2.png"></div>
              <div class="ava_2">
                  <h3>NGUYỄN THU HẰNG</h3>
                  <h4>Team Member</h4>
              </div>
            </div>
            </div>
            <div class="rec">
              <div class="ava_1"><img class="img2" src="assets/media/ava3.png"></div>
                <div class="ava_2">
                    <h3>LÊ TRỌNG SƠN</h3>
                    <h4>Team Member</h4>
                </div>
            </div>
            <div class="rec">
              <div class="ava_1"><img class="img2" src="assets/media/ava4.png"></div>
              <div class="ava_2">
                  <h3>TRẦN NHẬT HÀN LÂM</h3>
                  <h4>Team Member</h4>
              </div>
            </div>
            <div class="rec"><div class="ava_1"><img class="img2" src="assets/media/ava5.png"></div>
            <div class="ava_2">
                <h3>NGUYỄN PHƯỚC THỊNH</h3>
                <h4>Team Member</h4>
            </div></div>

        
        <!-- <footer>
      
          <div class="container1">
            <div class="logo-footer">
              <img
                src="./media/logo.png"
                alt=""
              />
              
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6 col-12">
                <div class="content_1">
                  <h3>
                    Kết nối với <span class="blue">Work</span>Z<span class="blue"
                      >one</span
                    >
                  </h3>
                  <p>
                    <a href="">
                      <img
                        class="float1"
                        src="./media/phone.png"
                        width="27px"
                        height="27px"
                      />&nbsp; <span class="hover">+123 456 7890</span></a
                    >
                  </p>
                  <p>
                    <a
                      href="https://www.google.com/intl/vi/gmail/about/"
                      target="_blank"
                      ><img
                        class="float1"
                        src="./media/mail.png"
                        width="27px"
                        height="27px"
                      />&nbsp; <span class="hover">uel@workzone.com</span></a
                    >
                  </p>
                  <p>
                    <a
                      href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+Kinh+t%E1%BA%BF+-+Lu%E1%BA%ADt,+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+Qu%E1%BB%91c+gia+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh/@10.8709374,106.7760666,17z/data=!3m1!4b1!4m6!3m5!1s0x3175277dbf11a271:0x4567e34b99494e3f!8m2!3d10.8709321!4d106.7782553!16s%2Fm%2F0ds8rvh?hl=vi"
                      target="_blank"
                      ><img
                        class="float1"
                        src="./media/location.png"
                        width="27px"
                        height="27px"
                      />&nbsp;
                      <span class="hover"
                        >265, QL1A, Phường Linh Trung, Thủ Đức</span
                      ></a
                    >
                  </p>
                  <p>
                    <a href="https://www.facebook.com/" target="_blank"
                      ><img
                        class="float1"
                        src="./media/fb.png"
                        width="27px"
                        height="27px"
                      />&nbsp; <span class="hover">WorkZone</span></a
                    >
                  </p>
                  <p>
                    <a href="https://www.linkedin.com/" target="_blank"
                      ><img
                        class="float1"
                        src="./media/in.png"
                        width="27px"
                        height="27px"
                      />&nbsp;<span class="hover">linkedin.com/workzone</span>
                    </a>
                  </p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <div class="content_2">
                    <h3>Nhà tuyển dụng</h3>
                    <p class="hover"><a href="./timkiemungvien.html" target="_blank">Tìm kiếm hồ sơ</a></p>
                    <p class="hover"><a href="./dangtuyen.html" target="_blank">Đăng tin tuyển dụng</a></p>
                    <p class="hover"><a href="./quanlyhoso.html" target="_blank">Quản lý hồ sơ</a></p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <div class="content_3">
                  <h3>About us</h3>
                  <p class="hover">
                    <a href="./thongtin.html" target="_blank"
                      >Thông tin về <span class="blue">Work</span>Z<span
                        class="blue"
                        >one</span
                      ></a
                    >
                  </p>
                  <p class="hover"><a href="./dieukhoandichvu" target="_blank">Điều khoản và dịch vụ</a></p>
                  <div class="content1_2">
                    <h3>Chứng nhận bởi</h3>
                    <a href="">
                      <img
                        src="./media/chứng nhận.png"
                        width="198px"
                        height="89px"
                    /></a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <div class="content_4">
                  <h3>Liên hệ</h3>
                  <p class="hover"><a href="./lienhe.html" target="_blank">Liên hệ ngay</a></p>
                  <p class="hover"><a href="./hotro.html" target="_blank">Hỗ trợ</a></p>
                </div>
              </div>
            </div>
            <p class="copyright">
              Copyright &#169; 2022. <span class="blue">WorkZone</span> . All Right
              Reserved
            </p>
          </div>
          
       
        </footer> -->
</body>
</html>
