<body>
  <!-- body -->
  <div id="body" class="container">
    <div class="hinhAnh">
        <img src="https://images.careerbuilder.vn/content/news/1.jpg" style="padding-left: 5px; float: left;">
    </div>
    <div id="contentBody">
        <div class="leftContent">
            <div class="leftTopContent" >
                <div class="myPost fw-bold text-upper text-blue">Việc làm đang tuyển</div>
                <div *ngFor="let job of companyData?.jobs">
                <div class="figure">
                  <div class="image">

                    <a  [routerLink]="['job-decription', job.jobJD]">
                      <img src="{{job?.image}}">

                    </a>
                  </div>
                  <div class="figcaption">
                    <h5 class="title text-upper">
                      <a [routerLink]="['job-decription', job.jobJD]">{{job?.job_name}}</a>
                    </h5>
                    <div class="caption">
                      <p class="company-name  " style="line-height: 20px;"> {{job?.company}}</p>
                      <p class="salary">$ {{job?.salary}}</p>
                      <p class="location">{{job?.address}} </p>
                      <p class="deadline"> <i class="bi bi-calendar-check"></i> {{job?.dealine}}  </p>
                    </div>
                  </div>
                </div>
                  <div class="figNotification">
                  <button class="btn view" [routerLink]="['/homepageEmployer', companyData?.company?.company_id, job?.jobJD]">Xem đơn ứng tuyển</button>
                 </div>
                </div>
            </div>
        </div>
        <div class="rightContent" *ngIf="infor">
            <div class="rightTopContent">
              <h3 class="nameCompany fw-bold text-upper text-center text-blue">{{companyData?.company?.company_name}}</h3>
              <div style="display: flex; ">
                <div class="figure">
              <div class="image"  >
                <a >
                <img src="{{companyData?.company?.company_image}}">
              </a></div>
              <span>
                <div style="margin-left: 5%; width: 100%; margin-top: 30px;" ><strong class="text-upper">Thông tin công ty</strong>
                <ul>
                  <li>
                    <span class="mdi mdi-account-supervisor">  Qui mô công ty: {{companyData?.company?.company_scale}} </span>
                  </li>
                  <li>
                    <span class="mdi mdi-link">  Website: <a href="3">{{companyData?.company?.company_website}}</a>  </span>
                  </li>
                </ul></div>
              </span></div>
              </div>
              <div class="content">
                <strong> Địa điểm: </strong>{{companyData?.company?.company_address}}
                <hr>
                <strong class="text-upper"> Giới thiệu về công ty </strong>
                <p>{{companyData?.company?.company_intro}}</p>
              </div>
              <hr >

              <div style="position: relative;" ><i class="bi bi-pencil-square text-blue" ></i>&nbsp;&nbsp;<a (click)="changeInfor()" class="change text-blue">Thay đổi thông tin tài khoản</a>

              <span class="exit">
                <i class="bi bi-box-arrow-right"></i><a routerLink="/login-employer" >Đăng xuất</a>
              </span>
              </div>
            </div>
          </div>
          <div class="rightContent" *ngIf="change_infor">
            <div class="rightTopContent account_change-info" >
              <h2 class="nameCompany fw-bold text-upper text-center text-blue">{{companyData?.company?.company_name}}</h2>
              <div id="exist-avatar" class="upload-avatar d-flex">
                <div class="avatar" >
                  <img src="{{companyData?.company?.company_image}}" id="avatar-output">
                </div>
                <input type="file" name="image" [(ngModel)]="company_image" id="image" (change)="onFileSelectedPutCompany($event,company)">
              </div>
              <hr>
              <form action="post" method="POST" id="profile-form" >
                <input type="hidden" name="_token" value="xXre87L9abHsibbHUc6qqxvGChSCOxublrJK8lbZ">
                <div class="sub-content">
                  <div class="form-group row mb-3">
                    <div class="col-md-3 align-self-center">
                      <label for="">Email:<span class="text-red">*</span></label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" class="form-control border-hover"  name="companyweb" [(ngModel)]="companyweb" >
                    </div>
                  </div>
                  <div class="form-group row mb-3">
                    <div class="col-md-3 align-self-center">
                      <label for="">Quy mô:</label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" class="form-control border-hover"  name="companyScale"  [(ngModel)]="companyScale" >
                    </div>
                  </div>

                  <div class="form-group row mb-3">
                    <div class="col-md-3 align-self-center">
                      <label for="">Địa chỉ:</label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" class="form-control border-hover"name="companyAddress" [(ngModel)]="companyAddress">
                    </div>
                  </div>
                  <div class="form-group row mb-3">
                    <div class="col-md-3 align-self-center">
                      <label for="">Giới thiệu công ty</label>
                    </div>
                    <div class="col-md-9">
                      <textarea class="form-control border-hover" name="note" placeholder="Giới thiệu về công ty" style="height: fit-content;" cols="30" rows="10"[(ngModel)]="companyIntro"></textarea>
                    </div>
                  </div>
                  <div style="position: relative;">
                    <button class="btn UpdateInfor" (click)="onUpdateCompany()">Cập nhật thông tin</button>
                    <span class="exit">
                      <i class="bi bi-box-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a (click)="exit()">Thoát</a>
                    </span>
                  </div>
                  </div>
                  </form>
            </div>
          </div>
    </div>
  </div>
  </body>

