<div class="background">
  <div class="container">
    <h4>Nhập mật khẩu mới</h4>
    <hr/>
    <p>Vui lòng nhập mật khẩu mới</p>
    <div class="input-">
      <input class="form-control" type="password" name="newPassword" placeholder="Nhập mật khẩu mới" id="newPassword" required minlength="5"
      [(ngModel)]="newPass" name="newpassword"
      #newpassword="ngModel">
      <div class="text" [hidden]="!newpassword.hasError('minlength')">Password must contain at least 5 characters</div>
    <div class="text" [hidden]="newpassword.valid || newpassword.pristine">
      Password is required
   </div>
    </div>
    <br/>
    <p>Vui lòng nhập lại mật khẩu mới lần nữa</p>
    <div class="input-">
      <input class="form-control" type="password" name="retypepassword" id="retypepassword" required [(ngModel)]="retypePass"
      #retypepassword="ngModel" placeholder="Hãy nhập lại mật khẩu mới">
      <div class="text" [hidden]="retypepassword.valid || retypepassword.pristine">
        Password is required
     </div>
    </div>
    <hr/>
    <button (click)="goBack()" class="btn btn-secondary aa">Hủy</button>&nbsp;
    <button class="btn btn-primary" type="button" id="timkiem" (click)="changePassword()">Xác nhận</button>
  </div>
</div>
