<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="shortcut icon"
      type="image/png"
      href="./media/logo-tab-icon.png"
    /> -->
    <title>WorkZone - Login</title>
    <link rel="stylesheet" href="login.component.html" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />

  </head>
  <body>
    <!-- <div class="container">
      <div class="main-menu">
        <div class="left-main-menu">
          <div class="row">
            <div class="col-md-3">
              <a class="logo" href="#"
                ><img src="assets/media/logo.png" alt="Logo"
              /></a>
            </div>
          </div>
        </div>
        <div class="right-main-menu">
          <form action="trangchu_nhatuyendung.html" target="_blank">
            <button class="btn-menu ntd">NHÀ TUYỂN DỤNG</button>
          </form>
        </div>
      </div>
    </div> -->

    <!-- <div id="nav-mb">
      <button onclick="menu()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>

    <ul id="list-menu-mb-login" class="list-menu-mb-login">
      <button class="btn-nav ntd">NHÀ TUYỂN DỤNG</button>
    </ul> -->

    <!-- main-login -->
    <div class="container">
      <div class="login-main">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="left-lg">
              <h1 class="left-lg-text">WorkZone</h1>
              <p>
                WorkZone giúp bạn kết nối với nhà tuyển dụng với các cơ hội cơ
                hội mới trong cuộc sống của bạn.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <form class="form-login">
              <div class="header-login">
                <h1>Đăng Nhập</h1>
              </div>
              <div class="input-login user">
                <div>
                  <input
                    type="text"
                    placeholder="Username*"
                    class="input form-control-lgin"
                    required
                  />
                </div>
              </div>

              <div class="input-login pass">
                <div>
                  <input
                    type="password"
                    placeholder="Password*"
                    class="input form-control-lgin"
                    required
                  />
                </div>
              </div>
              <div>
                <input type="checkbox" class="check" /> Hiển thị mật khẩu
              <a href="#"> <span class="blue forgot float">Quên mật khẩu?</span></a> 
              </div>

              <a class="blue center mg-top" routerLink="/sign-up">Bạn chưa có tài khoản? Đăng ký</a>
              <button type="submit" class="btn-login">Đăng Nhập</button>
              <div class="">
                <div class="text center">
                  <span>Hoặc</span>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-12">
                    <button class="btn-login-other btn face">
                      <i class="fa-brands fa-facebook icon"></i>
                      <span class="blue">Đăng nhập bằng Facebook</span>
                    </button>
                  </div>
                  <div class="col-sm-6 col-12">
                    <button class="btn-login-other btn google">
                      <i class="fa-brands fa-google icon"></i>
                      <span class="blue">Đăng nhập bằng Google</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <!-- <footer>
      <div class="container white">
        <div class="row background">
          <div class="col-md-12 col-sm-12 col-12">
            <div class="logo-footer">
              <a class="logo" href="trangchu_nguoitimviec.html"
                ><img src="./media/logo.png" alt="Logo"
              /></a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12 pd-left">
            <div class="content_1">
              <h3>
                Kết nối với <span class="blue">Work</span>Z<span class="blue"
                  >one</span
                >
              </h3>
              <p>
                <a href="">
                  <img
                    src="./media/phone.png"
                    width="27px"
                    height="27px"
                  />&nbsp; +123 456 7890</a
                >
              </p>
              <p>
                <a
                  href="https://www.google.com/intl/vi/gmail/about/"
                  target="_blank"
                  ><img
                    src="./media/mail.png"
                    width="27px"
                    height="27px"
                  />&nbsp; <span class="hover">uel@workzone.com</span></a
                >
              </p>
              <p>
                <a
                  href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+Kinh+t%E1%BA%BF+-+Lu%E1%BA%ADt,+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+Qu%E1%BB%91c+gia+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh/@10.8709374,106.7760666,17z/data=!3m1!4b1!4m6!3m5!1s0x3175277dbf11a271:0x4567e34b99494e3f!8m2!3d10.8709321!4d106.7782553!16s%2Fm%2F0ds8rvh?hl=vi"
                  target="_blank"
                  ><img
                    src="./media/location.png"
                    width="27px"
                    height="27px"
                  />&nbsp;
                  <span class="hover"
                    >265, QL1A, Phường Linh Trung, Thủ Đức</span
                  ></a
                >
              </p>
              <p>
                <a href="https://www.facebook.com/" target="_blank"
                  ><img src="./media/fb.png" width="27px" height="27px" />&nbsp;
                  <span class="hover">WorkZone</span></a
                >
              </p>
              <p>
                <a href="https://www.linkedin.com/" target="_blank"
                  ><img
                    src="./media/in.png"
                    width="27px"
                    height="27px"
                  />&nbsp;<span class="hover">linkedin.com/workzone</span>
                </a>
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <div class="content_2">
              <h3>Công việc</h3>
              <p class="hover">
                <a href="trangchu_nguoitimviec.html#hotjob">Hot Job</a>
              </p>
              <p class="hover">
                <a href="trangchu_nguoitimviec.html#lastestjob">Lastest Job</a>
              </p>
              <p class="hover">
                <a href="trangchu_nguoitimviec.html#congtyhangdau"
                  >Công ty hàng đầu</a
                >
              </p>
              <p class="hover">
                <a href="trangchu_nguoitimviec.html#vieclamhapdan"
                  >Việc làm hấp dẫn</a
                >
              </p>
              <p class="hover">
                <a href="trangchu_nguoitimviec.html#tintuc">Tin tức</a>
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <div class="content_3">
              <h3>About us</h3>
              <p class="hover">
                <a href="thongtin.html"
                  >Thông tin về <span class="blue">Work</span>Z<span
                    class="blue"
                    >one</span
                  ></a
                >
              </p>
              <p class="hover">
                <a href="dieukhoandichvu.html">Điều khoản và dịch vụ</a>
              </p>
              <div class="content1_2">
                <h3>Chứng nhận bởi</h3>
                <a href="">
                  <img src="./media/chứng nhận.png" width="198px" height="89px"
                /></a>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-12 pd-left">
            <div class="content_4">
              <h3>Liên hệ</h3>
              <p class="hover"><a href="lienhe.html">Liên hệ ngay</a></p>
              <p class="hover"><a href="hotro.html">Hỗ trợ</a></p>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-12">
            <p class="copyright white">
              Copyright &#169; 2022. <span class="blue">WorkZone</span> . All
              Right Reserved
            </p>
          </div>
        </div>
      </div>
    </footer> -->
  </body>
</html>
