<div class="headline">
  <div class="lienhe">Liên hệ</div>
  <div class="line"></div>
  <div class="hotro">Hỗ trợ</div>
</div>
<div class="lienheh1">
  <h1>LIÊN HỆ</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Thông tin liên hệ</h4>
      <p><i class="bi bi-telephone-fill"></i>&nbsp; +123 456 7890</p>
      <p><i class="bi bi-envelope-fill"></i>&nbsp; uel@workzone.com</p>
      <p><i class="bi bi-geo-alt-fill"></i>&nbsp; Trường Đại học Kinh tế - Luật</p>
      <p><i class="bi bi-facebook"></i>&nbsp; WorkZone</p>
      <p><i class="bi bi-linkedin"></i>&nbsp; linkedin.com/workzone</p>
      <div class="map">
        <img src="./assets/media/uellocation.png" class="img-fluid" />
      </div>
    </div>
    <div class="col-md-6">
      <h4>Hãy gửi tin nhắn đến WorkZone</h4>
      <form>
        <div class="form-group">
          <label for="name">Họ và tên:</label>
          <input type="text" class="form-control" id="name" required>
        </div>
        <div class="form-group">
          <label for="email">Địa chỉ Email:</label>
          <input type="email" class="form-control" id="email" required>
        </div>
        <div class="form-group">
          <label for="phone">Số điện thoại:</label>
          <input type="tel" class="form-control" id="phone" required>
        </div>
        <div class="form-group">
          <label for="message">Nội dung tin nhắn:</label>
          <textarea class="form-control" id="message" rows="6" required></textarea>
        </div>
          <button type="submit" class="btn btn-primary">GỬI</button>
      </form>
    </div>

  </div>
</div>






