.container{
  width: 600px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
  padding-top: 30px;
}
.rec30{
  display: flex;
}
.rec30-1{
  flex: 1;
  padding-left: 20px;
}
.rec30-2{
  flex: 1;
  text-align: center;
}
.rec31{
  display: flex;
}
.rec31-1{
  flex: 1;
  color: #2F55D4;
}
.rec31-2{
  flex: 1;
}
a:first-child{
  text-decoration: none;
}
.background{
  background-color: #E9E9EA;
  height: 500px;
  position: absolute;
  width: 100%;
}
h4{
  padding-left: 20px;
}
