body,
html {
  padding: 0;
  margin: 0;
  font-family: roboto;
}
.op {
  border-bottom: 3px solid #48c0fd;
}
/* header */
.main-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.logo img {
  width: 100%;
}
.nav-pc {
  display: flex;
  align-items: center;
  height: 118%;
}
.nav-pc li {
  margin-right: 30px;
}
.right-main-menu {
  display: flex;
}
.right-main-menu button {
  margin-left: 10px;
}
.btn-menu {
  border-radius: 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  font-size: 90%;
  font-weight: bold;
  color: #ffffff;
  width: 150px;
  background-color: #48c0fd;
  height: 47px;
}
.account {
  width: 180px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid black;
}
.account span {
  margin: 0 25px;
}
.account .fa-circle-user {
  font-size: 30px;
  margin-left: -13px;
}
.account .fa-sort-down {
  position: absolute;
  top: 13px;
  right: 9px;
}
.btn-nav {
  width: 50%;
  font-weight: bold;
  background: #48c0fd;
  margin: 10px 10px;
  color: #fff;
  border-radius: 12px;
}
.relative {
  position: relative;
}
.ntd {
  border-radius: 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  font-size: 90%;
  font-weight: bold;
  color: #ffffff;
  background-color: blue;
}

.menu-list-row a i {
  width: 15px;
}
.log-out {
  margin-left: 50%;
  margin-top: 5px;
}
.menu-list-row .fa-circle-user {
  font-size: 20px;
}
.name-account {
  font-size: 15px;
  font-weight: bold;
}
.name-account span {
  font-weight: bold;
  color: #0075ff;
}
.list-menu-pc span {
  padding-left: 8px;
}

.border {
  margin: 4px 0;
  border: 0.5px solid black;
  width: 94%;
  background: black;
}

.list-menu-mb-login {
  padding-top: 10px;
  position: fixed;
  background: white;
  font-size: 15px;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  left: -2000px;
  transition: 0.5s;
}
.list-menu-mb-login li {
  margin-bottom: 10px;
}
.is-left-default {
  left: 0px !important;
}
#nav-mb button {
  display: none;
}
@media (max-width: 480px) {
  .nav-pc,
  .btn-menu,
  .account {
    display: none;
  }
  .logo img {
    width: 43% !important;
  }
  #nav-mb button {
    position: absolute;
    top: 25px;
    right: 10px;
    font-size: 20px;

    display: block;
    color: #48c0fd;
    border: none;
    background: none;
  }
  .input {
    margin-bottom: 10px;
  }
  .banner-image img {
    height: 300px !important;
  }
}
/* body */
.content__dieukhoandichvu {
  background-color: white;
  padding: 15px 40px;
  width: 80%;
  margin: auto;
  text-align: justify;
}
.menu__infor {
  background-color: #deefff;
  /* width: 100%; */
  display: flex;
  justify-content: space-evenly;
}
.menu__infor1:hover {
  font-size: 18px;
}
.top__dieukhoandichvu {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  color: #2f55d4;
}
.menu__infor1 {
  font-weight: bold;
  padding: 5px 0;
  margin: 15px 0;
}
.menu__infor1:nth-child(2) {
  border-bottom: 3px solid #48c0fd;
}
.head__dieukhoandichvu {
  color: #48c0fd;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}
.content__dieukhoandichvu UL {
  list-style: decimal;
  margin-left: 40px;
}
.content__dieukhoandichvu UL LI {
  margin: 5px 0;
}
.content__dieukhoandichvu ol li {
  list-style: disc;
  margin-left: 30px;
}
.content__dieukhoandichvu hr {
  border: 0.25px solid rgb(174, 184, 193);
  background-color: rgb(171, 181, 192);
}
.rec466 {
  display: flex;
  background-color: #deefff;
  height: 66.7px;
}
.dieukhoan {
  flex: 1;
  text-align: center;
  padding-top: 28px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  color: #2f55d4;
}
.veWorkZone:hover {
  color: #2f55d4;
  font-weight: 700;
}
.veWorkZone {
  flex: 1;
  text-align: center;
  padding-top: 28px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}
.line {
  position: absolute;
  width: 15%;
  height: 0px;
  right: 17vw;
  top: 22vh;
  background-color: #48c0fd;
  border: 3px solid #48c0fd;
}
@media (max-width: 700px) {
  .content__dieukhoandichvu {
    width: 100%;
    padding: 15px 22px 15px 18px;
  }
  .top__dieukhoandichvu {
    font-size: 20px;
  }
  .head__dieukhoandichvu {
    font-size: 16px;
  }
  hr {
    display: none;
  }
}
/* footer */
.logo-footer img {
  width: 296px;
  margin-bottom: 10px;
}
.pd-left {
  padding-left: 45px !important;
}
footer {
  margin-top: 30px;
  background-color: #2a363b;
}

.copyright {
  text-align: center;
  font-size: 13px;
  margin-bottom: 0px;
}
.content1_2 img {
  width: 150px;
  margin-left: -12px;
}
.blue {
  color: #0075ff;
}
.white {
  color: white;
}
h3,
p {
  color: white;
}
.hover:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .pd-left {
    padding-left: 15px !important;
  }
}
