.op {
  border-bottom: 3px solid #48c0fd;
}


/* body */
.content__dieukhoandichvu {
  background-color: white;
  padding: 15px 40px;
  width: 80%;
  margin: auto;
  text-align: justify;
}
.menu__infor {
  background-color: #deefff;

  display: flex;
  justify-content: space-evenly;
}
.menu__infor1:hover {
  font-size: 18px;
}
.top__dieukhoandichvu {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  color: #2f55d4;
}
.menu__infor1 {
  font-weight: bold;
  padding: 5px 0;
  margin: 15px 0;
}
.menu__infor1:nth-child(2) {
  border-bottom: 3px solid #48c0fd;
}
.head__dieukhoandichvu {
  color: #48c0fd;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}
.content__dieukhoandichvu UL {
  list-style: decimal;
  margin-left: 40px;
}
.content__dieukhoandichvu UL LI {
  margin: 5px 0;
}
.content__dieukhoandichvu ol li {
  list-style: disc;
  margin-left: 30px;
}
.content__dieukhoandichvu hr {
  border: 0.25px solid rgb(174, 184, 193);
  background-color: rgb(171, 181, 192);
}
.rec466 {
  display: flex;
  background-color: #deefff;
  height: 66.7px;
}

.title {
  flex: 1;
  text-align: center;
  padding-top: 1%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  color: #2f55d4;
}

@media (max-width: 700px) {
  .content__dieukhoandichvu {
    width: 100%;
    padding: 15px 22px 15px 18px;
  }
  .top__dieukhoandichvu {
    font-size: 20px;
  }
  .head__dieukhoandichvu {
    font-size: 16px;
  }
  hr {
    display: none;
  }
}
