
  <body>
       <div class="rec466">
      <div class="veWorkZone">  <a routerLink="/thongtin">Về WorkZone </a> </div>
      <div class="line"></div>
      <div class="dieukhoan"><a routerLink="/dieukhoandichvu">Điều khoản và dịch vụ</a></div>
    </div>
    <div class="content__dieukhoandichvu">
      <div class="top__dieukhoandichvu">ĐIỀU KHOẢN DỊCH VỤ</div>
      <hr />
      <div class="head__dieukhoandichvu">1. ĐIỀU KHOẢN CHUNG</div>
      <div>
        Bằng cách truy cập hoặc sử dụng trang web WorkZone.com, các dịch vụ,
        hoặc bất kỳ ứng dụng nào do WorkZone cung cấp (gọi chung là "Dịch vụ"),
        dù truy cập bằng cách nào, bạn đồng ý chịu sự ràng buộc của các điều
        khoản sử dụng này ("Điều khoản sử dụng"). Dịch vụ do WorkZone sở hữu
        hoặc kiểm soát. Các Điều khoản sử dụng này ảnh hưởng đến quyền và nghĩa
        vụ pháp lý của bạn. Nếu bạn không đồng ý chịu sự ràng buộc của tất cả
        các Điều khoản sử dụng này, bạn không truy cập hay sử dụng Dịch vụ. Nếu
        Bạn có bất kỳ câu hỏi nào liên quan đến Điều Khoản này, vui lòng liên hệ
        chúng tôi tại email: uel@workzone.com.
      </div>
      <br />
      <div>
        Chúng tôi có thể cập nhật Điều Khoản này theo thời gian vì các lý do
        pháp lý hoặc theo quy định hoặc để cho phép hoạt động thích hợp của
        trang web WorkZone.com. Mọi thay đổi sẽ được thông báo tới bạn bằng một
        thông báo phù hợp trên trang web của chúng tôi. Những thay đổi này sẽ áp
        dụng cho việc sử dụng trang web WorkZone. Sau khi chúng tôi đã thông báo
        đến bạn, Nếu bạn không muốn chấp nhận Điều Khoản mới, bạn không nên tiếp
        tục sử dụng trang web WorkZone.com. Nếu bạn tiếp tục sử dụng trang web
        WorkZone.com kể từ ngày sự thay đổi có hiệu lực, việc sử dụng trang web
        WorkZone.com thể hiện bạn đồng ý bị ràng buộc bởi Điều Khoản mới.
      </div>

      <div class="head__dieukhoandichvu">2. ĐĂNG KÝ</div>
      <div>
        Để sử dụng Dịch vụ bạn phải tạo một tài khoản theo yêu cầu của WorkZone,
        bạn cam kết rằng việc sử dụng tài khoản phải tuân thủ các quy định của
        WorkZone, đồng thời tất cả các thông tin bạn cung cấp cho chúng tôi là
        đúng, chính xác, đầy đủ với tại thời điểm được yêu cầu. Mọi quyền lợi và
        nghĩa vụ của bạn sẽ căn cứ trên thông tin tài khoản bạn đã đăng ký, do
        đó nếu có bất kỳ thông tin sai lệch nào chúng tôi sẽ không chịu trách
        nhiệm trong trường hợp thông tin đó làm ảnh hưởng hoặc hạn chế quyền lợi
        của bạn.
      </div>
      <div class="head__dieukhoandichvu">3. MẬT KHẨU</div>
      <ul>
        <li>
          Khi bạn đăng ký sử dụng trang web WorkZone.com bạn sẽ được yêu cầu
          khởi tạo mật khẩu. Để tránh việc gian lận, bạn phải giữ mật khẩu này
          bảo mật và không được tiết lộ hoặc chia sẻ với bất kỳ người nào.Nếu
          bạn biết hoặc nghi ngờ người khác biết mật khẩu của bạn, bạn nên thông
          báo với chúng tôi ngay lập tức bằng cách liên hệ với chúng tôi tại
          email uel@workzone.com.
        </li>

        <li>
          Nếu WorkZone.com có lý do để tin rằng có khả năng có hành vi vi phạm
          bảo mật hoặc sử dụng không đúng mục đích trang web WorkZone.com, chúng
          tôi có thể yêu cầu bạn thay đổi mật khẩu hoặc chúng tôi có thể tạm
          dừng tài khoản của bạn.
        </li>

        <li>
          Trường hợp bạn mất Mật khẩu hoặc hoặc sử dụng không đúng mục đích
          trang web WorkZone.vn:
        </li>
        <ol>
          <li>Bạn phải chịu tất cả sự mất mát hoặc thiệt hại phát sinh.</li>
          <li>
            Bạn chịu trách nhiệm sẽ bồi thường hoàn toàn cho WorkZone trong
            trường hợp WorkZone có xảy ra mất mát hoặc thiệt hại.
          </li>
        </ol>
      </ul>
      <div class="head__dieukhoandichvu">4. BẢO MẬT</div>
      <ul>
        <li>
          Bạn thừa nhận và đồng ý một mình chịu trách nhiệm về hình thức, nội
          dung và tính xác thực của bất kỳ hồ sơ hoăc tài liệu nào do bạn đăng
          tải trên trang web WorkZone.vn, đồng thời đồng ý một mình chịu trách
          nhiệm cho bất kỳ hệ quả nào phát sinh từ việc đăng tải này.
        </li>
        <li>
          WorkZone có quyền đề xuất đến bạn dịch vụ và sản phẩm của bên thứ ba
          dựa trên các mục phù hợp mà bạn xác định trong khi đăng ký và bất kỳ
          lúc nào sau đó hoặc khi bạn đã đồng ý tiếp nhận, các đề xuất này sẽ
          được thực hiện bởi WorkZone hoặc các bên thứ ba.
        </li>
        <li>
          WorkZone được quyền tùy ý tuân theo các yêu cầu pháp lý, các yêu cầu
          từ cơ quan thi hành án hoặc yêu cầu của cơ quan quản lý, thậm chí sự
          tuân thủ này có thể bao gồm việc công bố một số thông tin Người dùng
          nhất định. Ngoài ra, bên thứ ba được phép giữ lại các bản sao lưu trữ
          thông tin Người dùng.
        </li>
        <li>
          Bạn hiểu và thừa nhận rằng tất cả các thông tin do bạn cung cấp, Thông
          tin cá nhân, hồ sơ và/hoặc thông tin tài khoản của bạn, sẽ được công
          bố cho các Nhà tuyển dụng tiềm năng trên WorkZone.
        </li>
        <li>
          WorkZone tôn trọng tuyệt đối quyền bảo mật thông tin của ứng viên. Nếu
          không muốn hồ sơ cá nhân của mình được công khai, bạn vui lòng tắt
          tính năng tìm việc & tính năng cho phép nhà tuyển dụng xem hồ sơ để
          tránh bị làm phiền.
        </li>
        <li>
          Bạn hiểu và thừa nhận rằng bạn không có các quyền sở hữu trong tài
          khoản của bạn và nếu bạn hủy bỏ tài khoản trên trang web WorkZone.vn
          hoặc tài khoản của bạn bị chấm dứt, tất cả các thông tin tài khoản của
          bạn tại trang web WorkZone.vn, bao gồm sơ yếu lý lịch, Thông tin cá
          nhân, thư xin việc, các công việc đã lưu, sẽ được đánh dấu là bị xóa
          và có thể bị xóa khỏi Cơ sở dữ liệu WorkZone và sẽ được gỡ bỏ từ bất
          kỳ khu vực chung nào trên trang web WorkZone.vn. Thông tin có thể tiếp
          tục được hiển thị trong một khoảng thời gian vì các trở ngại trong khi
          truyền tín hiệu xóa thông qua các máy chủ của WorkZone.vn hoặc do yêu
          cầu của các cơ quan chức năng liên quan. Ngoài ra, các bên thứ ba được
          phép giữ lại bản sao thông tin của bạn.
        </li>
        <li>
          WorkZone có quyền xỏa tài khoản và tất cả thông tin của bạn sau một
          thời gian dài không hoạt động.
        </li>
      </ul>
    </div>

  </body>

