<body>
   <div class="container__jobDecription">
    <div class="container__img--left">
      <img src="{{jobData?.job?.image}}" alt="avata company" />
    </div>
    <div class="container__content--right">
      <div class="container__content--right1">
        <div class="name--job">
          {{ jobData?.job?.job_name }}
        </div>
        <div class="name--company">{{jobData?.job?.company}}</div>
        <p><i class="bi bi-geo-alt-fill"></i>&ensp; {{jobData?.job?.address}}</p>
        <p><i class="bi bi-cash"></i>&ensp;{{jobData?.job?.salary}}</p>
        <p><i class="bi bi-briefcase-fill"></i>&ensp;{{jobData?.job?.exprience}}</p>
        <p><i class="bi bi-briefcase-fill"></i>  <a href="#">&ensp;{{jobData?.job?.category}}</a> </p>
        <p><i class="bi bi-clock"></i>&ensp;Hạn nộp: {{jobData?.job?.dealine}}</p>
      </div>
      <div class="container__content--right1">
        <button id="myBtn" >Nộp đơn</button>
      </div>
    </div>
  </div>
  <div class="container__jobDecription1">
    <div class="container__content--left">
      <div class="title__content">PHÚC LỢI</div>
      <div class="content__jobDecription">
        <p>{{jobData?.job?.welfare}}</p>
      </div>
      <div class="title__content">MÔ TẢ CÔNG VIỆC</div>
      <div class="content__jobDecription">
        <p>{{jobData?.job?.description}}</p>
      </div>
      <div class="title__content">YÊU CẦU CÔNG VIỆC</div>
      <div class="content__jobDecription">
        <p>{{jobData?.job?.job_requirement}}</p>
      </div>
      <div class="title__content
      ">THÔNG TIN LIÊN HỆ</div>
      <div class="content__jobDecription">
        <p>Liên hệ: {{jobData?.job?.contact_person}}</p>
        <p>
          <i class="bi bi-telephone-fill"></i> &ensp; SĐT: {{jobData?.job?.phone_person}}
        </p>
        <p>
          <i class="bi bi-geo-alt-fill"></i>&ensp;{{jobData?.job?.contact}}</p>
        <p>
          - Các ứng viên quan tâm vui lòng gửi hồ sơ trực tuyến qua
          WorkZone, gửi kèm file hoặc trực tiếp đến tại công ty
        </p>
      </div>
    </div>
    <div class="container__content--right">
      <div class="container__content--right-top">
        <div class="title__content
        ">THÔNG TIN KHÁC</div>
        <div class="content__information">
          <div class="content__information-left">
            <p>Bằng cấp:</p>
            <p>Độ tuổi:</p>
            <p>Cấp bậc:</p>
            <p>Giới tính</p>
            <p>Số lượng tuyển:</p>
            <p>Hình thức làm việc:</p>
          </div>
          <div class="content__information-right">
            <p>{{jobData?.job?.degree}}</p>
            <p>{{jobData?.job?.age}}</p>
            <p>{{jobData?.job?.position}}</p>
            <p>{{jobData?.job?.gender}}</p>
            <p>{{jobData?.job?.recruiting_amount}}</p>
            <p>{{jobData?.job?.work_form}}</p>
          </div>
        </div>
      </div>
      <div class="container__content--right-bot" *ngFor="let c of jobData?.company">
        <div class="title__content
        ">GIỚI THIỆU CÔNG TY</div>
        <img src="{{jobData?.job?.image}}" alt="logo company" />
        <div class="name--company">{{c?.company_name}}</div>
        <div class="companyDetail">
          <p><i class="bi bi-bezier"></i>&ensp;{{c?.company_scale}}</p>
          <p>
            <i class="bi bi-telephone-fill"></i> &ensp; {{jobData?.job?.contact_person}}</p>
        </div>
        <div class="companyDetail1">
          <p>{{c?.company_intro}}
          </p>
        </div>
      </div>
    </div>
  </div>
  </body>
