<router-outlet></router-outlet>
hàn lâm
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi sed velit aliquam saepe neque architecto dicta reprehenderit natus voluptatibus amet quam, ea rerum ad accusamus sint incidunt laudantium illo omnis!</p>
<div> my content Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, necessitatibus? Corrupti quas, facilis porro doloribus cum quibusdam commodi saepe illum debitis ratione nemo veniam sequi praesentium ipsum officia! Rem, hic?</div>
