<div class="container">
  <div class="login-main">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="left-lg">
          <h1 class="left-lg-text">WorkZone</h1>
          <p>
            WorkZone giúp bạn kết nối với nhà tuyển dụng với các cơ hội cơ
            hội mới trong cuộc sống của bạn.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <form class="form-login">
          <div class="header-login">
            <h1>Đăng Nhập</h1>
          </div>
          <div class="input-login user">
            <div>
              <input
                type="text"
                placeholder="Username*"
                class="input form-control-lgin"
                required
              />
            </div>
          </div>

          <div class="input-login pass">
            <div>
              <input
                type="password"
                placeholder="Password*"
                class="input form-control-lgin"
                required
              />
            </div>
          </div>
          <div>
            <input type="checkbox" class="check" /> Hiển thị mật khẩu
            <a href="quenmatkhau1.html">
              <span class="blue forgot float">Quên mật khẩu?</span></a
            >
          </div>
          <br />
          <a class="blue mg-top" href="dangky_nguoitimviec.html"
            >Bạn chưa có tài khoản? Đăng ký</a
          >
          <br />
          <br />
          <button type="submit" class="btn-login">Đăng Nhập</button>
          <div class="">
            <div class="text center">
              <span>Hoặc</span>
            </div>

            <div class="row">
              <div class="col-sm-6 col-12">
                <button class="btn-login-other btn face">
                  <i class="fa-brands fa-facebook icon"></i>
                  <span class="blue">Đăng nhập bằng Facebook</span>
                </button>
              </div>
              <div class="col-sm-6 col-12">
                <button class="btn-login-other btn google">
                  <i class="fa-brands fa-google icon"></i>
                  <span class="blue">Đăng nhập bằng Google</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
