<div class="container" >
  <div class="main-menu">
    <div class="left-main-menu">
      <div class="row">
        <div class="col-md-3">
          <a class="logo" href="#"
            ><img src="assets/media/logo.png" alt="Logo"
          /></a>
        </div>
      </div>
    </div>
    <div class="right-main-menu">


      <a href="#" class="btn btn-primary btn-lg active ntd" role="button" aria-pressed="true">NHÀ TUYỂN DỤNG</a>


    </div>
  </div>
</div>




<div class="container" >
  <div class="login-main">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="left-lg">
          <h1 class="left-lg-text">WorkZone</h1>
          <p>
            WorkZone giúp bạn kết nối với nhà tuyển dụng với các cơ hội cơ
            hội mới trong cuộc sống của bạn.


            <img src="assets/media/banner-login.png" width="80%" style="margin-top: 30px;" alt="">
          </p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <form class="form-login" #registerForm="ngForm" name="registerForm">
          <div class="header-login">
            <h1>Đăng Ký</h1>
            <br>
          </div>
          <div class="input-login user">
            <div>
              <input
                type="text" placeholder="Họ và tên*" class="input form-control-lgin"
                required [(ngModel)]="newUser.fullname" name="fullname"
                #fullname="ngModel" pattern="[a-zA-Z][a-zA-Z ]+"
              />
            </div>
          </div>


          <div class="input-login user">
            <div>
              <input
                type="email"
                placeholder="Địa chỉ e-mail*"
                class="input form-control-lgin"
                required [(ngModel)]="newUser.email" name="email" #email="ngModel"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              />
            </div>
          </div>


          <div class="input-login user">
            <div>
              <input
                type="tel"
                placeholder="Số điện thoại*"
                class="input form-control-lgin" [(ngModel)]="newUser.phone" name="phone"
                required #phone="ngModel"
                pattern="[0-9]*"
                minlength="10"
                maxlength="10"
              />
            </div>
          </div>

          <div class="input-login pass">
            <div>
              <input
                type="{{passwordType}}"
                placeholder="Mật khẩu*"
                class="input form-control-lgin"
                required [(ngModel)]="newUser.password" name="password" #password="ngModel"
                minlength="5"
              />
            </div>
          </div>


          <div class="input-login pass">
            <div>
              <input
                type="{{passwordType}}"
                placeholder="Nhập lại mật khẩu*"
                class="input form-control-lgin"
                required [(ngModel)]="confirmPass" name="confirmPass"
                minlength="5"
              />
            </div>
          </div>



          <div>
            <input type="checkbox" class="check" (click)="togglePassword()"/> Hiển thị mật khẩu
          </div>
          <br />
          <a class="blue mg-top" (click)="login()" style="cursor: pointer;"
            >Bạn đã có tài khoản? Đăng nhập</a
          >
          <br />
          <div [hidden]="fullname.valid || fullname.pristine">
            <div class="text-danger" [hidden]="!fullname.hasError('required')">Bạn chưa nhập tên</div>
            <div class="text-danger" [hidden]="!fullname.hasError('pattern')">Vui lòng nhập tên phù hợp</div>
          </div>
          <div [hidden]="email.valid || email.pristine">
            <div class="text-danger" [hidden]="!email.hasError('required')">Bạn chưa nhập email</div>
            <div class="text-danger" [hidden]="!email.hasError('pattern')">Email format:
               <small><b>joe@abc.com</b></small>
            </div>
          </div>
          <div [hidden]="phone.valid || phone.pristine">
            <div class="text-danger" [hidden]="!phone.hasError('minlength')">Số điện thoại có 10 chữ số</div>
            <div class="text-danger" [hidden]="!phone.hasError('required')">Bạn chưa nhập số điện thoại</div>
            <div class="text-danger" [hidden]="!phone.hasError('pattern')">Số điện thoại không chứa ký tự đặc biệt</div>
         </div>


        <div [hidden]="password.valid || password.pristine">
        <div class="text-danger" [hidden]="!password.hasError('minlength')">Mật khẩu ít nhất có 5 ký tự</div>
        <div  class="text-danger" [hidden]="!password.hasError('required')">Bạn chưa nhập mật khẩu</div>
        </div>


          <br />
          <div *ngIf="errMessage" class="alert alert-danger">
            {{errMessage}}
            <ul *ngIf="existingUserErrors">
              <li *ngFor="let error of existingUserErrors">{{error}}</li>
            </ul>
          </div>

          <button type="submit" class="btn-login" [disabled]="errorOccurred" style="cursor: pointer;" (click)="postUser()">Đăng Ký</button>
          <div class="">
            <div class="text center">
              <span>Hoặc</span>
            </div>


            <div class="row">
              <div class="col-sm-6 col-12">
                <button class="btn-login-other btn face">
                  <i class="fa-brands fa-facebook icon"></i>&emsp;
                  <span class="blue">Đăng nhập bằng Facebook</span>
                </button>
              </div>
              <div class="col-sm-6 col-12">
                <button class="btn-login-other btn google">
                  <i class="fa-brands fa-google icon"></i>&emsp;
                  <span class="blue">Đăng nhập bằng Google</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
