.login-fluid {
	background: #fff;
	min-height: 100vh;
	position: relative;
}
.clear-left {
	padding-left: 0!important;
	margin-left: 0!important;
}
.clear-right {
	padding-left: 0!important;
	padding-right: 0!important;
}
.login-container {
	width: 100%;
}
.login-header {
  width: 100%;
  height: 80px;
  z-index: 1100;
  background: #fff;
  position: fixed;
  border-bottom: thin solid #e1e1e1ba;
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.05);
  box-shadow: 0 10px 10px rgba(0,0,0,.05);
}
.w-login {
	max-width: 100%;
    margin-left: 16px;
    margin-right: 16px;
}
.login-right {
	float: right;
	line-height: 75px;
}
.padding-top-90 {
	padding-top: 90px;
}
.login-main-left img {
	width: 100%;
	height: auto;
}
form.login-form {
  padding: 25px;
  width: 75%;
  background: #fff;
  /*box-shadow: 0 4px 24px rgba(0,0,0,.08);*/
  border-radius: 8px;
  position: relative;
  /*border: 1px solid rgba(0,0,0,.1);*/
  padding-bottom: 55px;
  margin-top: 1rem;
}
form.reg-form {
	margin-top: -10px;
}
.login-main-header h3 {
  color: #3157d4;
  font-size: 1.6rem;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 1rem;
}
.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.login-content .input-div.one{
	margin-top: 0;
}

.input-div {
    margin-bottom: 15px;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 14px;
	transition: .3s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -1px;
	font-size: 14px;
	font-weight: 400!important;
	left: 10px;
	background: #fff;
	z-index: 1100;
	padding: 0 5px;
}

.lg-lable h5 {
	font-weight: 400!important;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	padding-left: 0;
	font-size: 1rem;
	color: #444;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
}

.input-div.pass{
	margin-bottom: 4px;
}
.frm-text {
	padding: 14px 0 0 0;
	color: #3157d4;
}

span.req {
	color: #ccc;
	padding-left: 5px;
}

.reg-info h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    color: #989898;
    margin-bottom: -1px;
}
input.ip-signin {
	padding: 1.3rem .75rem;
}

label.lb-login {
    display: block;
    padding-bottom: 5px;
    font-size: 15px;
    color: #2b2b2b;
}

button.btn-login {
    padding: .6rem 3rem;
    background: #3157d4;
    font-weight: 700;
}

.text-or {
    width: 100%;
    margin-top: 5rem;
    padding-bottom: 25px;
}

.text-or span {
    background: #fff;
    padding: 10px;
    position: relative;
    bottom: -8px;
}

.text-or:after {
    content: "";
    height: 1px;
    width: 100%;
    background: #ccc;
    display: block;
}

.btnw {
	width: 100%;
	margin: 5px 0;
	border-color: #fff0;
	padding: .6rem .75rem;
	font-size: .875rem;
}

.btn-login-google,
.btn-login-facebook {
    background: #e8e8e8;
    color: #757575;
}

.btn-login-facebook:focus,
.btn-login-facebook:hover {
	background: #3b5998;
	border-color: #fff0;
}

.btn-login-google:focus,
.btn-login-google:hover {
	background: #d82424;
	border-color: #fff0;
}
