<div class="container" >
  <div class="main-menu">
    <div class="left-main-menu">
      <div class="row">
        <div class="col-md-3">
          <a class="logo" href="#"
            ><img src="assets/media/logo.png" alt="Logo"
          /></a>
        </div>
      </div>
    </div>
    <div class="right-main-menu">

      <a href="#" class="btn btn-primary btn-lg active ntd" role="button" aria-pressed="true">NHÀ TUYỂN DỤNG</a>

    </div>
  </div>
</div>


<div class="container" >
  <div class="login-main">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="left-lg">
          <h1 class="left-lg-text">WorkZone</h1>
          <p>
            WorkZone giúp bạn kết nối với nhà tuyển dụng với các cơ hội cơ
            hội mới trong cuộc sống của bạn.

            <img src="assets/media/banner-login.png" width="80%" style="margin-top: 30px;" alt="">
          </p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <form class="form-login">
          <div class="header-login">
            <h1>Đăng Ký</h1>
            <br>
          </div>
          <div class="input-login user">
            <div>
              <input
                type="text"
                placeholder="Họ và tên*"
                class="input form-control-lgin"
                required
              />
            </div>
          </div>

          <div class="input-login user">
            <div>
              <input
                type="email"
                placeholder="Địa chỉ e-mail*"
                class="input form-control-lgin"
                required
              />
            </div>
          </div>

          <div class="input-login user">
            <div>
              <input
                type="tel"
                placeholder="Số điện thoại*"
                class="input form-control-lgin"
                required
              />
            </div>
          </div>

          <div class="input-login pass">
            <div>
              <input
                type="password"
                placeholder="Mật khẩu*"
                class="input form-control-lgin"
                required
              />
            </div>
          </div>

          <div class="input-login pass">
            <div>
              <input
                type="password"
                placeholder="Nhập lại mật khẩu*"
                class="input form-control-lgin"
                required
              />
            </div>
          </div>

          <div>
            <input type="checkbox" class="check" /> Hiển thị mật khẩu
            <a href="quenmatkhau1.html"></a>
          </div>
          <br />
          <a class="blue mg-top" href=""
            >Bạn đã có tài khoản? Đăng nhập</a
          >
          <br />
          <br />
          <button type="submit" class="btn-login">Đăng Ký</button>
          <div class="">
            <div class="text center">
              <span>Hoặc</span>
            </div>

            <div class="row">
              <div class="col-sm-6 col-12">
                <button class="btn-login-other btn face">
                  <i class="fa-brands fa-facebook icon"></i>&emsp;
                  <span class="blue">Đăng nhập bằng Facebook</span>
                </button>
              </div>
              <div class="col-sm-6 col-12">
                <button class="btn-login-other btn google">
                  <i class="fa-brands fa-google icon"></i>&emsp;
                  <span class="blue">Đăng nhập bằng Google</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
