@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
.btn-login-other {
  border-radius: 5px;

  margin: 5px 0;
  border-color: #fff0;
  padding: 0.6rem 0.75rem;
  font-size: 0.875rem;
  width: 100% !important;
}
.face:hover {
  background-color: #3b5998;
  cursor: pointer;
}
.google:hover {
  background-color: red;
  cursor: pointer;
}
.icon {
  padding-right: 5px;
}
