
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Công ty</title>
</head>
<body>
    <div class="container" >
        <div class="container-header" >
            <div class="backgrond-image">
                <img class="logo-image" src="assets\media\fpt-job-image.png" width="100%" alt="Lỗi">
            </div>
            <div class="logo-image" >
                <img id="logo-image" src="assets/media/fpt-logo.png" alt="Lỗi">
            </div>
            <div class="header-header" >
                <div class="header-header-infor" >
                    <p class="header-title" >
                        Công ty Cổ phần Viễn thông FPT
                    </p>
                    <div class="header-infor" >
                        <div class="main-link" >
                            <a href="https://fpt.vn/vi">fpt.vn/vi</a>
                        </div>
                        <div class="nhanvien">
                            <span  >5000+ nhân viên</span>
                        </div>
                    </div>
                </div>
                <div class="header-follow" >
                    <button id="btn-follow" >Theo dõi Công ty</button>
                </div>
            </div>
        </div>
        <div class="container-infor" >

        </div>
        <div class="container-function">

        </div>
    </div>
</body>
</html>