
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Công ty</title>
</head>
<body>
    <div class="container" >
        <div class="container-header" >
            <div class="backgrond-image">
                <img class="logo-image" src="assets\media\fpt-job-image.png" width="100%" alt="Lỗi">
            </div>
            <div class="logo-image" >
                <img id="logo-image" src="assets/media/fpt-logo.png" alt="Lỗi">
            </div>
            <div class="header-header" >
                <div class="header-header-infor" >
                    <p class="header-title" >
                        Công ty Cổ phần Viễn thông FPT
                    </p>
                    <div class="header-infor" >
                        <div class="main-link" >
                             <span><i class="fa-solid fa-map-pin fa-beat"></i>
                             </span> 
                             <a style="margin-left: 5%;" href="https://fpt.vn/vi">fpt.vn/vi</a>
                        </div>
                        <div class="nhanvien">
                            <span><i class="fa-sharp fa-solid fa-person-dress fa-beat"></i></span>
                            <span style="margin-left: 5%;"  >5000+ nhân viên</span>
                        </div>
                    </div>
                </div>
                <div class="header-follow" >
                    <button id="btn-follow" >Theo dõi Công ty</button>
                </div>
            </div>
        </div>
        <div class="container-infor" >
            <div class="infor-gioithieu" >
                <span></span>
                <h4>Giới thiệu công ty</h4>
                <p class="infor-content" >
                    FPT là công ty tiên phong chuyển đổi số và dẫn đầu về tư vấn, cung cấp, triển khai các dịch vụ, giải pháp công nghệ - viễn thông. Chúng tôi đồng hành cùng các khách hàng tại 29 quốc gia và vùng lãnh thổ trên toàn cầu hiện thực hóa chiến lược, mục tiêu phát triển kinh doanh dựa trên công nghệ.

                    Với kinh nghiệm triển khai dự án trên phạm vi toàn cầu trong suốt hơn ba thập kỷ qua, chúng tôi giúp khách hàng vượt qua những thách thức, rào cản và đạt được hiệu quả cao nhất trong hành trình chuyển đổi số. Dựa trên những công nghệ mới nhất trí tuệ nhân tạo, phân tích dữ liệu lớn, điện toán đám mây, tự động hóa, kết nối vạn vật…, chúng tôi đưa ra những giải pháp, dịch vụ công nghệ tiên tiến giúp khách hàng chủ động, linh hoạt thích ứng trong mọi bối cảnh.
                </p>
            </div>
            <div class="infor-diachi">
                <h4>Địa chỉ</h4>
                <div class="infor-diachi-details">
                    <p>
                        Tầng 2, toàn nhà FPT, Phố Vọng, Hà Nội
                    </p>
                </div>
                <p style="font-size: small;" >Bản đồ trụ sở chính:</p>
                <div class="infor-diachi-map" >
                    <div id="map"></div>
                    <div id="map-container" style="height: 200px;"></div>
                </div>
            </div>
        </div>
        <div class="container-function">
            <div class="function-tuyendung">
                <h4>Tuyển dụng</h4>
                <table>
                    <tr class="job-details" >
                        <td class="table-image" >
                            <img id="table-image" src="assets/media/fpt-logo.png" alt="">
                        </td>
                        <td class="table-details" style="padding-left: 8%;" >
                            <div>
                                <h6>Cán bộ kinh doanh Dịch vụ viễn thông (Quận 1 TP HCM)</h6>
                                <p>Làm việc trực tiếp tại FPT</p>
                            </div>
                        </td>
                        <td class="table-luong" >
                            <p>8 - 20 triệu</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="function-share">
                <h4>Chia sẻ tới bạn bè</h4>
                <h6 style="margin-top: 5%; margin-bottom: 5%;" >Sao chép đường dẫn</h6>
                <div class="function-copy" >
                    <label id="lable-link" for="">https://topdev.vn/viec-lam </label>
                    <span class="btn-copy" ><i class="fa-sharp fa-regular fa-copy"></i></span>
                </div>
                <h6 style="margin-top: 5%; margin-bottom: 5%;" >Chia sẻ qua mạng xã hội</h6>
                <div class="function-click" >
                    <div class="click" >
                        <i class="fa-brands fa-google">

                        </i></div>
                    <div class="click" >
                        <i class="fa-brands fa-facebook-messenger"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>