<div class="container"  >
  <div class="container-header" >
      <div class="backgrond-image">
          <img class="logo-image" src="assets\media\fpt-job-image.png" width="100%" alt="Lỗi">
      </div>
      <div class="logo-image" >
          <img id="logo-image" [src]="companyData.company?.company_image" alt="Lỗi">
      </div>
      <div class="header-header" >
          <div class="header-header-infor" >
              <p class="header-title" >
                  {{companyData.company?.company_name}}
              </p>
              <div class="header-infor" >
                  <div class="main-link" >
                       <span><i class="fa-solid fa-map-pin fa-beat"></i>
                       </span>
                       <a style="margin-left: 5%;" [href]="companyData.company?.company_website">{{companyData.company.company_website}}</a>
                  </div>
                  <div class="nhanvien">
                      <span><i class="fa-sharp fa-solid fa-person-dress fa-beat"></i></span>
                      <span style="margin-left: 5%;"  >{{companyData?.company?.company_scale}}</span>
                  </div>
              </div>
          </div>
          <div class="header-follow" >
              <button id="btn-follow" >Theo dõi Công ty</button>
          </div>
      </div>
  </div>
  <div class="container-infor" >
      <div class="infor-gioithieu" >
          <span></span>
          <h4>Giới thiệu công ty</h4>
          <p class="infor-content" >
              {{companyData?.company?.company_intro}}
          </p>
      </div>
      <div class="infor-diachi">
          <h4>Địa chỉ</h4>
          <div class="infor-diachi-details">
              <p>
                  {{companyData?.company?.company_address}}
              </p>
          </div>
          <p style="font-size: small;" >Bản đồ trụ sở chính:</p>
          <div class="infor-diachi-map" >
              <div id="map-cancel"></div>
              <div id="map-container-cancel" style="height: 200px;"></div>
          </div>
      </div>
  </div>
  <div class="container-function">
      <div class="function-tuyendung">
          <h4>Tuyển dụng</h4>
          <table>
              <tr *ngFor="let job of companyData?.jobs" class="job-details" >
                  <td class="table-image" >
                      <img id="table-image" [src]="companyData?.company.company_image
                      " alt="">
                  </td>
                  <td class="table-details" style="padding-left: 8%;" >
                      <div>
                          <h6>{{job?.job_name}}</h6>
                          <p>Làm việc trực tiếp tại {{job.address
                          }} </p>
                      </div>
                  </td>
                  <td class="table-luong" >
                      <p>{{job?.salary}}</p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="function-share">
          <h4>Chia sẻ tới bạn bè</h4>
          <h6 style="margin-top: 5%; margin-bottom: 5%;" >Sao chép đường dẫn</h6>
          <div class="function-copy" >
              <label id="lable-link" for="">http://localhost:1012/company/{{companyData?.company?.company_id}} </label>
              <span class="btn-copy" ><i class="fa-sharp fa-regular fa-copy"></i></span>
          </div>
          <h6 style="margin-top: 5%; margin-bottom: 5%;" >Chia sẻ qua mạng xã hội</h6>
          <div class="function-click" >
              <div class="click" >
                  <i class="fa-brands fa-google">

                  </i></div>
              <div class="click" >
                  <i class="fa-brands fa-facebook-messenger"></i>
              </div>
          </div>

<body>
    <div class="container"  >
        <div class="container-header" >
            <div class="backgrond-image">
                <img class="logo-image" src="assets\media\fpt-job-image.png" width="100%" alt="Lỗi">
            </div>
            <div class="logo-image" >
                <img id="logo-image" [src]="companyData.company?.company_image" alt="Lỗi">
            </div>
            <div class="header-header" >
                <div class="header-header-infor" >
                    <p class="header-title" >
                        {{companyData.company?.company_name}}
                    </p>
                    <div class="header-infor" >
                        <div class="main-link" >
                             <span><i class="fa-solid fa-map-pin fa-beat"></i>
                             </span>
                             <a style="margin-left: 5%;" [href]="companyData.company?.company_website">{{companyData.company.company_website}}</a>
                        </div>
                        <div class="nhanvien">
                            <span><i class="fa-sharp fa-solid fa-person-dress fa-beat"></i></span>
                            <span style="margin-left: 5%;"  >{{companyData?.company?.company_scale}}</span>
                        </div>
                    </div>
                </div>
                <div class="header-follow" >
                    <button id="btn-follow" >Theo dõi Công ty</button>
                </div>
            </div>
        </div>
        <div class="container-infor" >
            <div class="infor-gioithieu" >
                <span></span>
                <h4>Giới thiệu công ty</h4>
                <p class="infor-content" >
                    {{companyData?.company?.company_intro}}
                </p>
            </div>
            <div class="infor-diachi">
                <h4>Địa chỉ</h4>
                <div class="infor-diachi-details">
                    <p>
                        {{companyData?.company?.company_address}}
                    </p>
                </div>
                <p style="font-size: small;" >Bản đồ trụ sở chính:</p>
                <div class="infor-diachi-map" >
                    <div id="map-cancel"></div>
                    <div id="map-container-cancel" style="height: 200px;"></div>
                </div>
            </div>
        </div>
        <div class="container-function">
            <div class="function-tuyendung">
                <h4>Tuyển dụng</h4>
                <table>
                    <tr *ngFor="let job of companyData?.jobs" class="job-details" >
                        <td class="table-image" >
                            <img id="table-image" [src]="companyData?.company.company_image
                            " alt="">
                        </td>
                        <td class="table-details" style="padding-left: 8%;" >
                            <div>
                                <h6>{{job?.job_name}}</h6>
                                <p>Làm việc trực tiếp tại {{job.address
                                }} </p>
                            </div>
                        </td>
                        <td class="table-luong" >
                            <p>{{job?.salary}}</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="function-share">
                <h4>Chia sẻ tới bạn bè</h4>
                <h6 style="margin-top: 5%; margin-bottom: 5%;" >Sao chép đường dẫn</h6>
                <div class="function-copy" >
                    <label id="lable-link" for="">{{companyData?.company?.company_address}} </label>
                    <span class="btn-copy" ><i class="fa-sharp fa-regular fa-copy"></i></span>
                </div>
                <h6 style="margin-top: 5%; margin-bottom: 5%;" >Chia sẻ qua mạng xã hội</h6>
                <div class="function-click" >
                    <div class="click" >
                        <i class="fa-brands fa-google">

                        </i></div>
                    <div class="click" >
                        <i class="fa-brands fa-facebook-messenger"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>

    
</body>
      </div>
  </div>
</div>
