

    <div id="body">
         <div class="body_right" ng-controller="myController">
          <div class="body_right-top">
        <div><img src="{{user?.image}}" class="fa-circle-user" alt="avataUser"></div>
        <div class="text_cbtl">Chào bạn trở lại <br>
        <b style="text-transform: uppercase;">{{user?.fullname}}</b></div>
    <div class="text_status" [ngClass]="{'text_status-on': isOn, 'text_status-off': !isOn}">
      <div class="st-on-off" [ngClass]="{'st-on-off-on': isOn, 'st-on-off-off': !isOn}">
        <div (click)="status()" class="on-off" [ngClass]="{'on-off-on': isOn, 'on-off-off': !isOn}"></div>
      </div>
      {{ isOn ? 'Trạng thái làm việc đang bật' : 'Trạng thái làm việc đang tắt' }}
    </div>
        <div class="text_text">Bật tìm việc để nhận được nhiều cơ hội việc làm tốt nhất từ WorkZone.</div>
    </div>
  </div>
    <div id="body_left">
      <div id="body_left-top" >
        <div id="cv-upload-list" class="box-block" *ngIf="taiCv">
          <div class="box-header">
            <h1 class="title">CV đã tải lên WorkZone</h1>
            <button (click)="toggle()" class="btn btn-upload-cv btn-primary-hover ">
              <i class="fa-solid fa-upload"></i>Tải CV lên
            </button>
          </div>
          <div class="box-conten box-no-cv">
            <img src="assets/media/uploadCv.png" class="box-no-cv-img">
            <p>Bạn chưa tải lên CV nào</p>
          </div>
        </div>
      <div  id="cv-upload-list" class="box-block" *ngIf="showCv">
        <p class="title"> <b>Upload CV để các cơ hội việc làm tự tìm đến bạn</b>  </p>
        <p>Bạn đã có sẵn CV của mình, chỉ cần tải CV lên, hệ thống sẽ tự động đề xuất CV của bạn tới những nhà tuyển dụng uy tín.
          Tiết kiệm thời gian, tìm việc thông minh, nắm bắt cơ hội và làm chủ đường đua nghề nghiệp của chính mình.</p>
        <div class="box-upload">
          <p class="icon">
            <i class="bi bi-cloud-arrow-up" style="font-size: 50px; color: #00A9FF;"></i>
          </p>
          <div class="not-cv" >
            <p>Kéo CV của bạn vào đây hoặc bấm để chọn file CV của bạn</p>
          </div>
          <div class="is-cv" >
            <p class="name-file"></p>
            <p>Chọn tệp khác</p>
          </div>
          <form id="formUploadCv" action="" method="post" enctype="multipart/form-data" >
            <input type="hidden" name="image" id="image" >
            <input type="file"  name="cv" name="file_upload_cv" class="file-upload-cv" id="file-upload-cv" [(ngModel)]="cv" name="cv" (change)="onFileSelectedPutCompany($event)">
          </form>
        </div>
        <div class="file-format">
          <div>File tải lên không quá: 5 MB</div>
        </div>
        <div class="box-btn-upload">
          <button type="submit"  (click)="applyCV()" class="btn btn-primary-hover  btn-upload ">Tải CV lên</button>
          <p class="text-highlight upload-process">Hệ thống đang xử lý CV của bạn thông thường mất từ 10 đến 15 giây, xin vui lòng đợi !!!</p>
        </div>
      </div>
      <div  id="cv-upload-list" class="box-block" *ngIf="UpdateCv">
        <div>
          <span class="exit" (click)="cancel()" >
            <a><i class="bi bi-box-arrow-left"></i>&nbsp;&nbsp;&nbsp;Thoát</a>
          </span>
        </div>
        <div class="text-center">Tải CV lên thành công</div>
        <br>
      </div>
      <div  id="cv-upload-list" class="box-block" *ngIf="detail">
        <div>
          <span class="exit" (click)="cancel()" >
            <a><i class="bi bi-box-arrow-left"></i>&nbsp;&nbsp;&nbsp;Thoát</a>
          </span>
        </div>
        <div class="cvChiTiet" *ngIf="selectedIndex >= 0">
          <img src="{{user && user.cv && user.cv[selectedIndex]}}" alt="">
        </div>
      </div>
      <div id="body_left-bottom" *ngIf="hoSoDaTao" >
      <div id="content_body_left">
        <div id="file_created"> <p>Hồ sơ đã tạo</p> </div>
          <div >
        <table>
        <tr>
            <th>STT</th>
            <th>Tên hồ sơ</th>
            <th class="text-center ">Xem chi tiết</th>
        </tr>
        <tr *ngFor="let item of user?.cv; let i = index">
          <td>{{ i + 1 }}</td>
          <td > Hồ sơ {{i+1 }}</td>
          <td>
            <div id="chitiet" class="text-center">
              <a (click)="selectedIndex = i;chitiet()">Chi tiết</a>
            </div>
          </td>
        </tr>

    </table>
    </div>
    </div>
  </div>
    </div>
    </div>


