<body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12">
          <ul class="emp-menu">
            <div class="box-menu-pc">
              <li><a href="taohoso.html">Tài khoản</a></li>
              <li class="under-link"><a href="hosoxinviec.html"><b>Hồ sơ xin việc (3)</b></a></li>
              <li><a href="vieclamdaluu.html">Việc đã lưu (5)</a></li>
              <li><a href="viecdaungtuyen.html">Việc đã ứng tuyển (7)</a></li>
              <li><a href="thongbaovieclam.html">Thông báo việc làm (0)</a></li>
            </div>
          </ul>
          <div class="box-menu-mb"><a href="hosoxinviec.html"><b>Hồ sơ xin việc (3)</b></a></div>
        </div>
      </div>
    <div id="body">
         <div class="body_right" ng-controller="myController">
          <div class="body_right-top">
        <div><i class="fa-regular fa-circle-user"></i></div>
        <div *ngIf="user" class="text_cbtl">Chào bạn trở lại <br>
        <b>{{user.fullname}}</b></div>
    <div class="text_status" [ngClass]="{'text_status-on': isOn, 'text_status-off': !isOn}">
      <div class="st-on-off" [ngClass]="{'st-on-off-on': isOn, 'st-on-off-off': !isOn}">
        <div (click)="status()" class="on-off" [ngClass]="{'on-off-on': isOn, 'on-off-off': !isOn}"></div>
      </div>
      {{ isOn ? 'Trạng thái làm việc đang bật' : 'Trạng thái làm việc đang tắt' }}
    </div>
        <div class="text_text">Bật tìm việc để nhận được nhiều cơ hội việc làm tốt nhất từ WorkZone.</div>
    </div>
  </div>
    <div id="body_left">
      <div id="body_left-top" >
        <div id="cv-upload-list" class="box-block" *ngIf="taiCv">
          <div class="box-header">
            <h1 class="title">CV đã tải lên WorkZone</h1>
            <button (click)="toggle()" class="btn btn-upload-cv btn-primary-hover ">
              <i class="fa-solid fa-upload"></i>Tải CV lên
            </button>
          </div>
          <div class="box-conten box-no-cv">
            <img src="assets/media/uploadCv.png" class="box-no-cv-img">
            <p>Bạn chưa tải lên CV nào</p>
          </div>
        </div>
      <div  id="cv-upload-list" class="box-block" *ngIf="showCv">
        <p class="title"> <b>Upload CV để các cơ hội việc làm tự tìm đến bạn</b>  </p>
        <p>Bạn đã có sẵn CV của mình, chỉ cần tải CV lên, hệ thống sẽ tự động đề xuất CV của bạn tới những nhà tuyển dụng uy tín.
          Tiết kiệm thời gian, tìm việc thông minh, nắm bắt cơ hội và làm chủ đường đua nghề nghiệp của chính mình.</p>
        <div class="box-upload">
          <p class="icon">
            <i class="fa-regular fa-cloud-arrow-up"></i>
          </p>
          <div class="not-cv">
            <p>Kéo CV của bạn vào đây hoặc bấm để chọn file CV của bạn</p>
          </div>
          <div class="is-cv">
            <p class="name-file"></p>
            <p>Chọn tệp khác</p>
          </div>
          <form id="formUploadCv" action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_token" value="20pu1kkykc56Qn6HmNsD1aSLoqXn4PUSjnxtNUpm">
            <input type="file" name="file_upload_cv" class="file-upload-cv" id="file-upload-cv">
          </form>
        </div>
        <div class="file-format">
          <div>File tải lên không quá: 5 MB</div>
        </div>
        <div class="box-btn-upload">
          <button (click)="updateCv()" class="btn btn-primary-hover  btn-upload ">Tải CV lên</button>
          <p class="text-highlight upload-process">Hệ thống đang xử lý CV của bạn thông thường mất từ 10 đến 15 giây, xin vui lòng đợi !!!</p>
        </div>
      </div>
      <div  id="cv-upload-list" class="box-block" *ngIf="UpdateCv">
          <p class="title"> <b>Cập nhật thông tin để WorkZone kết nối bạn với những cơ hội việc làm phù hợp nhất</b>  </p>
           <h4 class="text-center">Thông tin cá nhân</h4>
        <div id="exist-avatar" class="upload-avatar                         d-flex
        ">
        <div class="avatar">
          <img src="#" id="avatar-output">
        </div>
        <button class="btn btn-change-avatar btn-upload-avatar mt-2">
          <i class="fa-solid fa-camera"></i> Thay ảnh </button>
      </div>
      <form action="post" method="POST" id="profile-form"  >
        <input type="hidden" name="_token" value="xXre87L9abHsibbHUc6qqxvGChSCOxublrJK8lbZ">
        <div class="sub-content">
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">Tiêu đề hồ sơ <span class="text-red">*</span></label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control border-hover" placeholder="Nhập tiêu đề hồ sơ" name="fulltitle" value="">
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">Họ và Tên <span class="text-red">*</span></label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control border-hover" placeholder="Họ và tên đầy đủ của bạn" name="fullname" value="">
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">Năm sinh <span class="text-red">*</span></label>
            </div>
            <div class="col-md-9">
              <select type="text" class="form-control  select2-hidden-accessible" id="dob_selector" name="dob" style="width: 100%"  tabindex="-1" aria-hidden="true">
              <option value>-- Chọn năm sinh --</option>
              <option value="2005">2005</option>
              <option value="2005">2004</option>
              <option value="2005">2003</option>
              <option value="2005">2002</option>
              <option value="2005">2001</option>
              <option value="2005">2000</option>
              <option value="2005">1999</option>
              <option value="2005">1998</option>
              <option value="2005">1997</option>
              <option value="2005">1996</option>
              <option value="2005">1995</option>
              <option value="2005">1994</option>
              <option value="2005">1993</option>
              <option value="2005">1992</option>
              <option value="2005">1991</option>
              <option value="2005">1990</option>
              <option value="2005">1989</option>
              <option value="2005">1988</option>
              <option value="2005">1987</option>
              <option value="2005">1986</option>
              <option value="2005">1985</option>
              <option value="2005">1984</option>
              <option value="2005">1983</option>
              <option value="2005">1982</option>
              <option value="2005">1981</option>
              <option value="2005">1980</option>
              <option value="2005">1979</option>
              <option value="2005">1978</option>
              <option value="2005">1977</option>
              <option value="2005">1976</option>
              <option value="2005">1975</option>
              <option value="2005">1974</option>
              <option value="2005">1973</option>
              <option value="2005">1972</option>
              <option value="2005">1971</option>
              <option value="2005">1970</option>
              <option value="2005">1969</option>
              <option value="2005">1968</option>
              <option value="2005">1967</option>
              <option value="2005">1966</option>
              <option value="2005">1965</option>
              <option value="2005">1964</option>
              <option value="2005">1963</option>
              <option value="2005">1962</option>
              <option value="2005">1961</option>
              <option value="2005">1960</option>
              <option value="2005">1959</option>
              <option value="2005">1958</option>
              <option value="2005">1957</option>
              <option value="2005">1956</option>
              <option value="2005">1955</option>
              <option value="2005">1954</option>
              <option value="2005">1953</option>
              <option value="2005">1952</option>
              <option value="2005">1951</option>
              <option value="2005">1950</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">Giới tính <span class="text-red">*</span></label>
            </div>
            <div class="col-md-9 radio">
              <label class="font-weight-normal"><input type="radio" name="gender" value="1"> <span class="icon-radio"> Nữ </span></label>
              <label class="font-weight-normal"><input type="radio" name="gender" value="2"> <span class="icon-radio"> Nam </span></label>
              <label class="font-weight-normal"> <input type="radio" name="gender" value="3"> <span class="icon-radio"> Không xác định</span></label>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">Ngành nghề <span class="text-red">*</span></label>
            </div>
            <div class="col-md-9 radio">
              <select type="text" class="form-control  select2-hidden-accessible" id="categoy" name="categoy" style="width: 100%"  tabindex="-1" aria-hidden="true">
              <option value>-- Chọn ngành nghề --</option>
              <option value="1001">Kinh doanh / Bán hàng</option>
              <option value="1002">Biên / Phiên dịch</option>
              <option value="1003">Báo chí / Truyền hình</option>
              <option value="1004">Bưu chính - Viễn thông</option>
              <option value="1005">Bảo hiểm</option>
              <option value="1006">Bất động sản</option>
              <option value="1007">Chứng khoán / Vàng / Ngoại tệ</option>
              <option value="1008">Công nghệ cao</option>
              <option value="1009">Cơ khí / Chế tạo / Tự động hóa</option>
              <option value="1010">Du lịch</option>
              <option value="1011">Dầu khí/Hóa chất</option>
              <option value="1012">Dệt may / Da giày</option>
              <option value="1013">Dịch vụ khách hàng</option>
              <option value="1014">Điện tử viễn thông</option>
              <option value="1015">Điện / Điện tử / Điện lạnh</option>
              <option value="1016">Giáo dục / Đào tạo</option>
              <option value="1017">Hoá học / Sinh học</option>
              <option value="1018">Hoạch định/Dự án</option>
              <option value="1019">Hàng gia dụng</option>
              <option value="1020">Hàng hải</option>
              <option value="1021">Hàng không</option>
              <option value="1022">Hành chính / Văn phòng</option>
              <option value="1023">In ấn / Xuất bản</option>
              <option value="1024">IT Phần cứng / Mạng/option>
              <option value="1025">IT phần mềm</option>
              <option value="1026">Khách sạn / Nhà hàng</option>
              <option value="1027">Kế toán / Kiểm toán</option>
              <option value="1028">Công nghệ Ô tô</option>
              <option value="1029">An toàn lao động</option>
              <option value="1030">Marketing / Truyền thông / Quảng cáo</option>
              <option value="1031">Môi trường / Xử lý chất thải</option>
              <option value="1032">Mỹ phẩm / Trang sức</option>
              <option value="1033">Mỹ thuật / Nghệ thuật / Điện ảnh</option>
              <option value="1034">Ngân hàng / Tài chính</option>
              <option value="1035">Nhân sự</option>
              <option value="1036">Nông / Lâm / Ngư nghiệp</option>
              <option value="1037">Luật/Pháp lý</option>
              <option value="1038">Quản lý chất lượng (QA/QC)</option>
              <option value="1039">Quản lý điều hành</option>
              <option value="1040">Thiết kế đồ họa</option>
              <option value="1041">Thời trang</option>
              <option value="1042">Thực phẩm / Đồ uống</option>
              <option value="1043">Tư vấn</option>
              <option value="1044">Tổ chức sự kiện / Quà tặng</option>
              <option value="1045">Vận tải / Kho vận</option>
              <option value="1046">Logistics</option>
              <option value="1047">Xuất nhập khẩu</option>
              <option value="1048">Xây dựng</option>
              <option value="1049">Y tế / Dược</option>
              <option value="1050">Bán hàng kỹ thuật</option>
              <option value="1051">Bán lẻ / bán sỉ</option>
              <option value="1052">Bảo trì / Sửa chữa</option>
              <option value="1053">Dược phẩm / Công nghệ sinh học</option>
              <option value="1054">Địa chất / Khoáng sản</option>
              <option value="1055">Hàng cao cấp</option>
              <option value="1056">Hàng tiêu dùng</option>
              <option value="1057">Kiến trúc</option>
              <option value="1058">Phi chính phủ / Phi lợi nhuận</option>
              <option value="1059">Sản phẩm công nghiệp</option>
              <option value="1060">Sản xuất</option>
              <option value="1061">Tài chính / Đầu tư</option>
              <option value="1062">Thiết kế nội thất</option>
              <option value="1063">Thư ký / Trợ lý</option>
              <option value="1064">Spa / Làm đẹp</option>
              <option value="1065">Công nghệ thông tin</option>
              <option value="1066">NGO / Phi chính phủ / Phi lợi nhuận</option>
              <option value="1067">Ngành nghề khác</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">Kinh ngiệm <span class="text-red">*</span></label>
            </div>
            <div class="col-md-9">
              <select type="text" class="form-control  select2-hidden-accessible" id="experience" name="experience" style="width: 100%"  tabindex="-1" aria-hidden="true">
              <option value>-- Thời gian làm việc ngành nghề đã chọn --</option>
              <option value="1">Chưa có kinh nghiệm</option>
              <option value="2">Dưới 1 năm</option>
              <option value="3">1 năm</option>
              <option value="4">2 năm</option>
              <option value="5">3 năm</option>
              <option value="6">4 năm</option>
              <option value="7">5 năm</option>
              <option value="8">Trên 5 năm</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">Trình độ chuyên môn <span class="text-red">*</span></label>
            </div>
            <div class="col-md-9">
              <select type="text" class="form-control  select2-hidden-accessible" id="trinhDoChuyenMon" name="trinhDoChuyenMon" style="width: 100%"  tabindex="-1" aria-hidden="true">
              <option value>-- Chọn trình độ --</option>
              <option value="1">Sinh viên</option>
              <option value="2">Mới ra trường</option>
              <option value="3">Có kinh nghiệm</option>
              <option value="4">Trưởng nhóm</option>
              <option value="5">Quản lý/Giám sát</option>
              <option value="6">Chuyên gia</option>
              <option value="7">Giám đốc</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">Trình độ tiếng anh <span class="text-red">*</span></label>
            </div>
            <div class="col-md-9">
              <select type="text" class="form-control  select2-hidden-accessible" id="trinhDoEnglish" name="trinhDoEnglish" style="width: 100%"  tabindex="-1" aria-hidden="true">
              <option value>-- Chọn trình độ --</option>
              <option value="1">Không biết</option>
              <option value="2">Đọc hiểu cơ bản</option>
              <option value="3">Đọc/viết tốt tài liệu chuyên môn</option>
              <option value="4">Giao tiếp tốt</option>
              <option value="5">Thành thục mọi kỹ năng</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">Địa điểm làm việc <span class="text-red">*</span></label>
            </div>
            <div class="col-md-9">
              <select type="text" class="form-control  select2-hidden-accessible" id="address" name="address" style="width: 100%"  tabindex="-1" aria-hidden="true">
              <option value>-- Lựa chọn địa điểm bạn có thể làm việc --</option>
              <option value="1">Hà Nội</option>
              <option value="2">Hồ Chí Minh</option>
              <option value="3">Bình Dương</option>
              <option value="4">Bắc Ninh</option>
              <option value="5">Đồng Nai</option>
              <option value="6">Hưng Yên</option>
              <option value="7">Hải Dương</option>
              <option value="8">Đà Nẵng</option>
              <option value="9">Hải Phòng</option>
              <option value="10">An Giang</option>
              <option value="11">Bà Rịa-Vũng Tàu</option>
              <option value="12">Bắc Giang</option>
              <option value="13">Bắc Kạn</option>
              <option value="14">Bạc Liêu</option>
              <option value="15">Bến Tre</option>
              <option value="16">Bình Định</option>
              <option value="17">Bình Phước</option>
              <option value="18">Bình Thuận</option>
              <option value="19">Cà Mau</option>
              <option value="20">Cần Thơ</option>
              <option value="21">Cao Bằng</option>
              <option value="22">Cửu Long</option>
              <option value="23">Đắk Lắk</option>
              <option value="24">Đắc Nông</option>
              <option value="25">Điện Biên</option>
              <option value="26">Đồng Tháp</option>
              <option value="27">Gia Lai</option>
              <option value="28">Hà Giang</option>
              <option value="29">Hà Nam</option>
              <option value="30">Hà Tĩnh</option>
              <option value="31">Hậu Giang</option>
              <option value="32">Hoà Bình</option>
              <option value="33">Khánh Hoà</option>
              <option value="34">Kiên Giang</option>
              <option value="35">Kon Tum</option>
              <option value="36">Lai Châu</option>
              <option value="37">Lâm Đồng</option>
              <option value="38">Lạng Sơn</option>
              <option value="39">Lào Cai</option>
              <option value="40">Long An</option>
              <option value="41">Miền Bắc</option>
              <option value="42">Miền Nam</option>
              <option value="43">Miền Trung</option>
              <option value="44">Nam Định</option>
              <option value="45">Nghệ An</option>
              <option value="46">Ninh Bình</option>
              <option value="47">Ninh Thuận</option>
              <option value="48">Phú Thọ</option>
              <option value="49">Phú Yên</option>
              <option value="50">Quảng Bình</option>
              <option value="51">Quảng Nam</option>
              <option value="52">Quảng Ngãi</option>
              <option value="53">Quảng Ninh</option>
              <option value="54">Quảng Trị</option>
              <option value="55">Sóc Trăng</option>
              <option value="56">Sơn La</option>
              <option value="57">Tây Ninh</option>
              <option value="58">Thái Bình</option>
              <option value="59">Thái Nguyên</option>
              <option value="61">Thanh Hoá</option>
              <option value="62">Thừa Thiên Huế</option>
              <option value="63">Tiền Giang</option>
              <option value="64">Toàn Quốc</option>
              <option value="65">Trà Vinh</option>
              <option value="66">Tuyên Quang</option>
              <option value="67">Vĩnh Long</option>
              <option value="68">Vĩnh Phúc</option>
              <option value="69">Yên Bái</option>
              <option value="70">Nước Ngoài</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">Hình thức làm việc <span class="text-red">*</span></label>
            </div>
            <div class="col-md-9">
              <select type="text" class="form-control  select2-hidden-accessible" id="hinhThucLamViec" name="hinhThucLamViec" style="width: 100%"  tabindex="-1" aria-hidden="true">
              <option value>-- Chọn hình thức làm việc mong muốn --</option>
              <option value="1">Toàn thời gian</option>
              <option value="2">Bán thời gian</option>
              <option value="3">Thực tập</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">Mức lương mong muốn <span class="text-red">*</span></label>
            </div>
            <div class="col-md-9">
              <select type="text" class="form-control  select2-hidden-accessible" id="mucLuongMongMuon" name="mucLuongMongMuon" style="width: 100%"  tabindex="-1" aria-hidden="true">
              <option value>-- Chọn mức lương mong muốn --</option>
              <option value="1">Dưới 5 triệu</option>
              <option value="2"> 5 - 10 triệu</option>
              <option value="3">10 - 15 triệu </option>
              <option value="4">15 - 20 triệu</option>
              <option value="5">20 - 25 triệu</option>
              <option value="6">25 - 30 triệu</option>
              <option value="7">Lương thỏa thuận</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">CV chính của bạn <span class="text-red">*</span></label>
            </div>
            <div class="col-md-9">
              <select type="text" class="form-control  select2-hidden-accessible" id="CVChinh" name="CVChinh" style="width: 100%"  tabindex="-1" aria-hidden="true">
              <option value>-- Chọn CV bạn muốn dùng để ứng tuyển --</option>
              <option></option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">Mong muốn của bạn</label>
            </div>
            <div class="col-md-9">
              <textarea class="form-control border-hover" name="expectation" placeholder="Mong muốn của bạn về các cơ hội việc làm phù hợp, về môi trường công ty hoặc thông tin công ty bạn muốn ứng tuyển"  cols="30" rows="10"></textarea>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-md-3 align-self-center">
              <label for="">Giới thiệu về bạn</label>
            </div>
            <div class="col-md-9">
              <textarea class="form-control border-hover" name="note" placeholder="Giới thiệu ngắn gọn về bàn thân để tạo ấn tượng tốt với các nhà tuyển dụng"  cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
        <div class="action text-center my-5">
          <button (click)="cancel()" class="btn btn-cancel mx-1">Bỏ qua</button>
          <button type="submit" class="btn btn-primary mx-1">Cập nhật thông tin</button>
        </div>
      </form>
      </div>
      </div>
      <div id="body_left-bottom" *ngIf="hoSoDaTao" >
      <div id="content_body_left">
        <div id="file_created"> <p>Hồ sơ đã tạo</p> </div>
        <div id="you_create_file"> <p>Bạn đã tạo 03 hồ sơ</p> </div>
        <div id="xapsep"> <p>Sắp xếp theo:
          <input id="gandaynhat" name="sapxep" type="radio">
          <label for="gandaynhat">  Gần đây nhất</label>
          <input id="1thangtruoc"  name="sapxep"type="radio">
          <label for="1thangtruoc"> 1 tháng trước</label>
          <input id="1namtruoc"  name="sapxep"type="radio">
          <label for="1namtruoc"> 1 năm trước</label>
          </p>
        </div>
        <div>
        <table>
        <tr>
            <th>STT</th>
            <th>Tên hồ sơ</th>
            <th>Ngày tạo</th>
            <th class="text-center ">Xem chi tiết</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Hồ sơ 1</td>
            <td>11/12/2022</td>
            <td>  <div id="chitiet" class="text-center "><a href="#" >Chi tiết</a></div></td>
        </tr>
    </table>
    </div>
    </div>
  </div>
    </div>
    </div>
  </div>
</body>
