<body>
  <footer>
    <div class="container">
      <div class="row background">
        <div class="col-md-12 col-sm-12 col-12">
          <div class="logo-footer">
            <a href="trangchu_nguoitimviec_login.html" target="_blank">
              <img src="assets/media/logo.png" alt=""
            /></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 pd-left">
          <div class="content_1">
            <h3>
              Kết nối với <span class="blue">Work</span>Z<span class="blue"
                >one</span
              >
            </h3>
            <p>
              <a href="">
                <img
                  src="assets/media/phone.png"
                  width="27px"
                  height="27px"
                />&nbsp; +123 456 7890</a
              >
            </p>
            <p>
              <a
                href="https://www.google.com/intl/vi/gmail/about/"
                target="_blank"
                ><img
                  src="assets/media/mail.png"
                  width="27px"
                  height="27px"
                />&nbsp; <span class="hover">uel@workzone.com</span></a
              >
            </p>
            <p>
              <a
                href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+Kinh+t%E1%BA%BF+-+Lu%E1%BA%ADt,+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+Qu%E1%BB%91c+gia+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh/@10.8709374,106.7760666,17z/data=!3m1!4b1!4m6!3m5!1s0x3175277dbf11a271:0x4567e34b99494e3f!8m2!3d10.8709321!4d106.7782553!16s%2Fm%2F0ds8rvh?hl=vi"
                target="_blank"
                ><img
                  src="assets/media/location.png"
                  width="27px"
                  height="27px"
                />&nbsp;
                <span class="hover"
                  >265, QL1A, Phường Linh Trung, Thủ Đức</span
                ></a
              >
            </p>
            <p>
              <a href="https://www.facebook.com/" target="_blank"
                ><img src="assets/media/fb.png" width="27px" height="27px" />&nbsp;
                <span class="hover">WorkZone</span></a
              >
            </p>
            <p>
              <a href="https://www.linkedin.com/" target="_blank"
                ><img
                  src="assets/media/in.png"
                  width="27px"
                  height="27px"
                />&nbsp;<span class="hover">linkedin.com/workzone</span>
              </a>
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <div class="content_2">
            <h3>Công việc</h3>
            <p class="hover">
              <a href="trangchu_nguoitimviec_login.html#hot" target="_blank"
                >Hot Job</a
              >
            </p>
            <p class="hover">
              <a
                href="trangchu_nguoitimviec_login.html#lastest"
                target="_blank"
                >Lastest Job</a
              >
            </p>
            <p class="hover">
              <a
                href="trangchu_nguoitimviec_login.html#congty"
                target="_blank"
                >Công ty hàng đầu</a
              >
            </p>
            <p class="hover">
              <a
                href="trangchu_nguoitimviec_login.html#vieclam"
                target="_blank"
                >Việc làm hấp dẫn</a
              >
            </p>
            <p class="hover">
              <a href="trangchu_nguoitimviec_login.html#tin" target="_blank"
                >Tin tức</a
              >
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <div class="content_3">
            <h3>About us</h3>
            <p class="hover">
              <a href="thongtin.html" target="_bank"
                >Thông tin về <span class="blue">Work</span>Z<span
                  class="blue"
                  >one</span
                ></a
              >
            </p>
            <p class="hover">
              <a href="dieukhoandichvu.html" target="_bank"
                >Điều khoản và dịch vụ</a
              >
            </p>
            <div class="content1_2">
              <h3>Chứng nhận bởi</h3>
              <a href="">
                <img src="assets/media/chứng nhận.png" width="220px" height="auto"
              /></a>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-12 pd-left">
          <div class="content_4">
            <h3>Liên hệ</h3>
            <p class="hover">
              <a href="lienhe.html" target="_bank">Liên hệ ngay</a>
            </p>
            <p class="hover">
              <a href="hotro.html" target="_bank">Hỗ trợ</a>
            </p>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <p class="copyright white">
            Copyright &#169; 2022. <span class="blue">WorkZone</span> . All
            Right Reserved
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
