

    <div  id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModal">
      <!-- Modal content -->
      <div   class="modal-content">
        <div class="modal-header">
          <h5>
            Ứng tuyển
            <span >{{jobName}}</span>
          </h5>
        </div>
        <div class="modal-body">
          <div >
            <div class="top-modal-body">
              <div *ngIf="show" class="top-modal-body-right">
                <strong>Tải lên CV từ máy tính</strong><br>
                <span class="text-gray">File doc, docx, pdf. Tối đa 5MB.</span>
              </div>
              <div class="top-modal-body-left">
                <a (click)="toggle()" class="a_border">
                  <span *ngIf="!show"><i class="bi bi-upload"></i>Tải CV lên từ máy tính</span>
                  <span *ngIf="show"><i class="bi bi-globe"></i>Dùng CV online</span>
                </a>
              </div>
            </div>
            <div *ngIf="show">
              <form action="">
                <div class="jFiler-input-inner">
                  <i class="bi bi-upload" style="font-size: 20px;font-weight: bold;"></i>
                  <button class="btn-choosefile">Chọn File</button>
                </div>
                <div class="form-group mb20">
                  <label for="">Họ và tên</label>
                  <span class="text-danger">*</span>:
                  <input class="form-input" type="text" placeholder="Họ tên hiển thị với Nhà tuyển dụng">
                </div>
                <div class="mb20">
                  <div class="form-group">
                    <label for="">Email</label>
                    <span class="text-danger">*</span>:
                    <input class="form-input" type="email" name="" id="" placeholder="Email hiển thị với Nhà tuyển dụng">
                  </div>
                </div>
                <div class="mb20">
                  <div class="form-group">
                    <label for="">Số điện thoại</label>
                    <span class="text-danger">*</span>:
                    <input class="form-input" type="phone" name="" id="" placeholder="Số điện thoại hiển thị với Nhà tuyển dụng">
                  </div>
                </div>
                <div class="mb20">
                  <label for="">Thư giới thiệu: </label>
                  <textarea name="" id=""  rows="3" class="form-control" placeholder="Viết giới thiệu ngắn gọn về bản thân (điểm mạnh, điểm yếu) và nêu rõ mong muốn, lý do làm việc tại công ty này. Đây là cách gây ấn tượng với nhà tuyển dụng nếu bạn có chưa có kinh nghiệm làm việc (hoặc CV không tốt)."></textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer" >
          <button (click)="bsModalRef.hide()" class="close">Đóng lại</button>
          <button (click)="ApplyJob(jobs)" id="myBtn2">Nộp CV</button>
        </div>
      </div>
    </div>
   <div *ngIf="isSubmitted">
    <div id="myModal2" class="modal">
      <div class="modal-content1">
        <div>NỘP CV THÀNH CÔNG</div>
        <div class="modal-footer1">
          <button class="close2" (click)="bsModalRef.hide()">OK</button>
        </div>
      </div>
    </div>
   </div>



